nav.navbar.navbar-dark.bg-primary.navbar-expand
    .container
        a.navbar-brand(href='#') TMP
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='/')
                    span Home
            li.nav-item
                a.nav-link(href='/changes')
                    span Changes from 1.0
            li.nav-item
                a.nav-link(href='/about')
                    span About
            li.nav-item
                a.nav-link(href='/config')
                    span Config
            li.nav-item
                a.nav-link(href='/files')
                    span Input Files 