nav.navbar.navbar-dark.bg-primary.navbar-expand
    .container
        a.navbar-brand(href='/') Home
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='/intro')
                    span I. Intro
            li.nav-item
                a.nav-link(href='/changes')
                    span II. Changes from 1.0
            li.nav-item
                a.nav-link(href='/about')
                    span III. About
            li.nav-item
                a.nav-link(href='/files')
                    span IV. Input Files 
            li.nav-item
                a.nav-link(href='/sim-config')
                    span V. Sim Config
            li.nav-item
                a.nav-link(href='/param-config')
                    span VI. Parameter Config
            li.nav-item Appendicies
                ul.nav-dropdown
                    li.nav-item
                        a.nav-link(href='/appendix-1')
                            span Appendix 1
                    li.nav-item
                        a.nav-link(href='/appendix-2')
                            span Appendix 2
                    li.nav-item
                        a.nav-link(href='/appendix-3')
                            span Appendix 3
                    li.nav-item
                        a.nav-link(href='/appendix-4')
                            span Appendix 4
                    li.nav-item
                        a.nav-link(href='/appendix-5')
                            span Appendix 5
                    li.nav-item
                        a.nav-link(href='/appendix-6')
                            span Appendix 6
                    li.nav-item
                        a.nav-link(href='/appendix-7')
                            span Appendix 7
            