div#suggestionModal.modal
    div.modal-content 
        span.close &times;
        h2 Submit a Suggestion 
        form#suggestionForm 
            textarea#suggestionText.suggestion_textbox(name="suggestionText", require='True', placeholder="Enter your suggestion here ...") 
            button.submit_btn(type="submit") Submit
        