extends layout.pug
block content
    h1 III. How to Use This Manual
    p This user manual and its supporting documents are written and organized for several types of VELMA user groups:
    ul
        li <b>Group 1:</b> User describes questions and goals, VELMA team does the rest.
            p <b><i>Example:</b></i> EPA client offices (Regional offices, Office of Water, etc.) requiring information on potential effects of a change in policy on water quality and other environmental endpoints. VELMA team functions as user types 3 and 4, below, to address client questions and goals.
        li Group 2: User assembles GIS data, creates scenarios, runs simulations, analyzes data; VELMA team calibrates hydrology &amp; biogeochemistry submodels and supplies initial input files (parameter values and, if necessary, initial GIS data and climate drivers).
            p <b><i>Example:</b></i> federal and state land management agencies, watershed councils and other community groups with
        sufficient expertise.</span></p>
        li <b>Group 3:</b> User works independently to assemble model input files, calibrate parameters, and analyze model output.
            p <b><i>Example:</b></i> academics and other professionals with expertise in hydrology, biogeochemistry and GIS methods.
        li <b>Group 4:</b> User works independently, as for (3), and modifies the program code and ecohydrological equations. Suggested code modifications can be submitted to the VELMA development team, who will review and may incorporate proposed modifications into updated model versions.
            p <b><i>Example:</b></i> academics and other professionals with expertise in hydrology, biogeochemistry, GIS methods, and computer programming and software design.
    p This user manual is a reasonably complete <i>how to</i> for operating VELMA v2.0. However, rather than getting immediately bogged down in details, we recommend that all users begin with a quick example and condensed version of the user manual.
    h4 Use these steps:
    ol 
        li Open the <b>VELMA v2.0 subfolder</b> located inside the <b>VELMA Model</b> folder
        li Open the PDF <b>VELMA 2.0 Quick Example</b>. This condensed version (12 pages) of the complete User Manual (176 pages) will guide you through a quick example of how to start VELMA and run it for a pre- configured set of input files and parameters located in the path\folder named <b>VELMA Model\VELMAv2.0\BlueRiver_Example</b>. This application is for a headwater forest catchment at the HJ Andrews Experimental Forest in western Oregon (Abdelnour et al. 2011, 2013). The Quick Example PDF will walk you through the remaining steps, below.
        li Confirm that you have either a Java 7 JRE installed and accessible on your machine.
        li Start the VELMA GUI.
        li Load the example Simulation Configuration File.
        li Set the Location of the Simulation Configuration's Input Data Files.
        li Set the Location Where the VELMA Simulator Will Writer Results Files.
        li Save Your Parameter Changes.
        li Click the Start Button to Start a Simulation Run.
        li Look in the Specified initialOutputDataLocationRoot Results Directory for Results.
    p These are the most basic steps for using VELMA. All user groups can benefit from the details included in the complete User Manual (this document), although persons in each group likely will have a different approach to using the manual.
    p For example, if you are a Group 2 VELMA user interested in investigating watershed responses to climate change, you could develop and apply climate scenarios of your own design by following instructions in section IV in this manual. You could then apply your scenarios to an existing VELMA application - for example, the <b>BlueRiver_Example</b> located in the <b>VELMA v20 </b> folder with this User Manual. Our hope is that some Group 2 users will make the jump to Group 3 as they gain experience with VELMA and modeling methods in general.
    p If you are a Group 3 or Group 4 VELMA user interested in developing new simulator configurations (VELMA applications), you may want to step through all or most of the remainder of this manual. There are a fair number of steps, but we've tried to organize these in a logical way. In particular, “Chapter VI - Steps for Configuring All Parameters TOC Sections 0.0 - 25.0 is our attempt to break up the parameterization process into manageable pieces. Each section and its subsections are focused on parameters associated with a particular ecosystem component or process.
    p If you are a Group 4 <i>super-user</i> interested in developing new algorithms or other features for VELMA, please contact the authors of this user manual. We will be happy to provide instructions for accessing the VELMA program code through an open source (Subversion / SVN) site where you can download the current release, and later upload your proposed enhancements. Our intent is to make VELMA an open-source community model that is freely accessible and will improve over time.
    p Before beginning, we recommend that all users become familiar with two “box and arrow” figures describing VELMA's hydrological and biogeochemical pools and fluxes. The first figure is located in Appendix 6.2 section A3 from Abdelnour et al. (2013). It describes the original (VELMA v1.0) model structure and nicely captures the interaction of hydrological and biogeochemical processes in VELMA. The second is <b>Figure 1</b> on page 43 under <i>Important Information for Sections 5.0 - 25.0 of the All Parameters TOC</i>. It describes VELMA v2.0's Plant Soil Model (PSM) submodel, for which a Leaf-Stem-Root (LSR) submodel has replaced the single (aggregate) plant biomass pool in VELMA v1.0. Together, these figures will give users a good sense of how the model works, and how each section of the User Manual relates to the others.