extends layout.pug
block content
    h1 Appendix 4: Overview of VELMA Simulator Output
    br 
    h3 Where are VELMA Simulator Results Located?
    p The results of a VELMA Simulator run are a collection of data files that the simulator writes to a specific directory location. That directory is specified in the simulator configuration by 2 related parameters:
    p /calibration/VelmaInputs.properties/initializeOutputDataLocationRoot
    br 
    p and
    p /calibration/VelmaInputs.properties/run_index
    br 
    p The initializeOutputDataLocationRoot's value should be a fully qualified path, and the run_indexshould be the name of a directory under that path.
    p For example, given the following configuration:
    br 
    table
        tr
            td ID Key
            td Value
        tr
            td /calibration/VelmaInputs.properties/initializeOutputDataLocationRoot
            td C:/MyVELMA_OutputData
        tr
            td /calibration/VelmaInputs.properties/run_index
            td LittleMtn_ClearCut
    
    br 
    p All results for the simulation run are written to the directory:
    p C:/MyVELMA_OutputData/LittleMtn_ClearCut
    br 
    p If the directory name specified as the value for run_index does not exist as a subdirectory of thedirectory path specified for initializeOutputDataLocationRoot, the VELMA simulator will create it as asubdirectory before writing any results.
    p If the run_index directory name already exists as a subdirectory of the initializeOutputDataLocationRootdirectory path, the VELMA simulator does not overwrite existing contents. Instead, it creates a newsubdirectory named &lt;run_index&gt;_&lt;n&gt;, where &lt;run_index&gt; is the value of therun_index parameter, and &lt;n&gt; is a unique sequence number. This allows you to run the samesimulation several times, without losing the results for any of the individual simulation runs.
    p If you ran the simulation run with the example parameters above 3 times in a row, without removing any resultsdirectories, you would end up with 3 complete sets of results data in the 3 following directories:
    p C:/MyVELMA_OutputData/LittleMtn_ClearCut C:/MyVELMA_OutputData/LittleMtn_ClearCut_0C:/MyVELMA_OutputData/LittleMtn_ClearCut_1
    h3 What Results are Available after a VELMA Simulation is Run?
    p The VELMA simulator writes several different types of results data, in several different file formats:
    p Image Data
    p For each year of the simulations runs via the JVelma GUI, the GUI creates a PNG image that shows the currentgraph/chart state on the last day of the year. These files appear in the run_index directory with the followingnaming format:
    p out_&lt;run_index&gt;_&lt;loopNumber&gt;_&lt;YYYY&gt;.png
    p Where &lt;run_index&gt; is the value of the run_index parameter, &lt;loop_number&gt; is thesimulation loop number and &lt;YYYY&gt; is the year for the particular image.
    p For example here is the 2nd loop, year 1979 PNG file for a simulation run of the example configurationused earlier in this document:
    p out_LittleMtn_ClearCut_1_1978.png
    p The actual chart or graph type in the image is whatever the user had selected in the JVelma GUI when thesimulator completed the particular year.
    h4 Table Data
    p Table data are files of comma-separated values (.csv) data. They are the primary results output of a VELMAsimulator run. The VELMA simulator produces several .csv files; some document what the configuration of thesimulation run was, while others report the actual simulation results.
    br 
    table
        tr
            td File name
            td Contents Type
            td Description
        tr
            td DemState.csv
            td Simulation Configuration
            td Information about the DEM and watershed
                p delineation.
        tr
            td CoverState.csv
            td Simulation Configuration
            td Information about the specified cover types.
        tr
            td SoilState.csv
            td Simulation Configuration
            td Information about the specified soil
                p parameterizations.
        tr
            td SimulationConfiguration.csv
            td Simulation Configuration
            td The full set of parameters used to configure
                p the simulation.
        tr
            td DailyResults.csv
            td Simulation Results
            td The primary, per-day results output for the
                p simulation run.
        tr
            td Combined_DailyResults.csv
            td Simulation Results
            td A convenience file: contains the combined contents of the DemState, SoilState,
                p CoverState and DailyResults .csv files.
        tr
            td Calibration_DailyResults.csv
            td Simulation Results
            td Additional, per-day results data that does
                p not appear in the DailyResults .csv file.
        tr
            td AnnualResults.csv
            td Simulation Results
            td Derived from the contents of DailyResults;
                p per year min, max, sum and range values for each column of DailyResults file.
    
    br 
    h4 Text Data
    p Text data files contain simple text summaries of either results data or simulator configuration information for aparticular simulation run.
    p Of these, the most important is the NashSutcliffeCoefficients.txt, which contains a Nash-Sutcliffecoefficient value computed for the simulated runoff values. Note that this file only contains useful data if theVELMA simulator was provided with observed runoff data as part of its simulation configuration.