<h1>Appendix 7:</h1>
    <div class="toc"><a href="part57.htm">Creating Flat-Processed DEM Data For The VELMA Simulator and Determining
            Outlet and Watershed Delineation</a><a class="toc1" href="part58.htm">I. Creating a Flat-Processed DEM</a><a
            class="toc2" href="part59.htm">Start JPDEM</a><a class="toc2" href="part60.htm">Loading DEM Data Into
            JPDEM</a><a class="toc2" href="part61.htm">Flat Processing DEM Data In JPDEM</a><a class="toc2"
            href="part62.htm">Saving Flat-Processed DEM Data From JPDEM To a File</a><a class="toc1"
            href="part63.htm">II. Watershed Delineation</a><a class="toc2" href="part64.htm">Determining Flow Data For a
            Flat-Processed DEM</a><a class="toc2" href="part65.htm">Determining Watershed Delineation</a></div>

            <p>Creating Flat-Processed DEM Data For The VELMA Simulator and Determining Outlet and Watershed Delineation</p>
            <p><span><img width="631" height="1" alt="image" src="Image_284.png" /></span></p>
            <p>The VELMA Simulator requires a Digital Elevation Map (DEM) for any simulation it runs. This DEM contains
                elevation data for the area simulated.</p>
            <p>The area specified must contain no &quot;sinks&quot; or &quot;flat spots&quot;.</p>
            <p>When VELMA simulates surface waterflow it must be able to flow &quot;off&quot; the map area in some way. Water is
                not allowed to pool anywhere within the simulation area.</p>
            <p>In order to ensure this &quot;no flat spots rule&quot;, DEM data used by the VELMA Simulator is first
                &quot;flat-processed&quot; to remove any sinks or flat spots.</p>
            <p>Use JPDEM to prepare DEM data for use by the VELMA Simulator.</p>
            <p>NOTE</p>
            <p>You must have Java 1.7 installed on your computer to run JPDEM.</p>
            <p><br /></p>
            <div class="toc"><a href="part58.htm">I. Creating a Flat-Processed DEM</a><a class="toc1" href="part59.htm">Start
            JPDEM</a><a class="toc1" href="part60.htm">Loading DEM Data Into JPDEM</a><a class="toc1"
            href="part61.htm">Flat Processing DEM Data In JPDEM</a><a class="toc1" href="part62.htm">Saving
            Flat-Processed DEM Data From JPDEM To a File</a><a href="part63.htm">II. Watershed Delineation</a><a
            class="toc1" href="part64.htm">Determining Flow Data For a Flat-Processed DEM</a><a class="toc1"
            href="part65.htm">Determining Watershed Delineation</a></div>
    
    <div>
        <p>Start JPDEM</p>
    <p>Open a Windows Command Line and enter the command:</p>
    <p>C:\&gt; java -Xmx1024m -jar C:\full\path\to\JPDEM.jar</p>
    <p>The &quot;-Xmx1024m</span>&quot; tells the Java Runtime Environment (JRE) to let JPDEM have 1024 megabytes (1
        gigabyte) of working memory.</p>
    <p>If your machine doesn&#39;t have that much memory, substitute a smaller value (e.g. &quot;512&quot; instead of
        &quot;1024&quot;). Alternately, if the .asc file of DEM data you intend to load is very large (and your machine
        has the memory) you may substitute a larger value (e.g. &quot;2048&quot; instead of &quot;1024&quot;).</p>
    <p>If the full path to the JPDEM.jar file contains whitespace characters, place double-quotes around the path.</p>
    <p>Example:</p>
    <p>&quot;C:\full\path\with white space\to\JPDEM.jar&quot;</p>
    </div>

    <div>
        <p>Loading DEM Data Into JPDEM</p>
    <p>Load a &quot;raw&quot; DEM file into JPDEM (the file must be in standard ESRI Grid .asc format). Click the
        &quot;File&quot; menu, then select and click &quot;Load DEM File&quot;.</p>
    <p>The &quot;Select DEM File to Load&quot; dialog window opens.</p>
    <p>Browse to the location of your DEM file, and click the name of the DEM file. The DEM file&#39;s name appears in
        the &quot;File Name:&quot; text box.</p>
    <p>Click &quot;Load File&quot; to load that file&#39;s data into JPDEM.</p>
    <p>The file is loaded, and an image of the file appears in JPDEM&#39;s map display.</p>
    <p>If the file is too small (has few rows and columns), click the Image Scale up-arrow button to &quot;zoom
        in&quot;.</p>
    </div>

    <div>
        <p>Flat Processing DEM Data In JPDEM</p>
    <p>Click the &quot;Tools&quot; menu, then select and click &quot;Flat-Process DEM Data (Standard)&quot;.</p>
    <p>JPDEM will process the DEM, adjusting elevation data to remove flat spots or sinks within the DEM data&#39;s
        area.</p>
    <p>If the processing takes more than a second or two, the display will periodically update, showing remaining flat
        spots in blue.</p>
    <p>When the flat-processing algorithm finishes, the display shifts to a grey-scale representation, with
        darker-colored pixels representing cells with higher flow-accumulation values.</p>
    <p>Note:</p>
    <p>There are several menu options for Flat-Processing DEM data.</p>
    <p>The &quot;(Standard)&quot; menu item uses an algorithm that produces good results, but generally takes more time
        to produce them. We do not, at this time, recommend using the other two flat- processing algorithms. They are
        still being developed.</p>
    </div>

    <div>
        <p>Saving Flat-Processed DEM Data From JPDEM To a File</p>
    <p>After JPDEM finishes flat-processes DEM data, click the &quot;File&quot; menu, then click the &quot;Save DEM As
        ...&quot; submenu, and finally select and click the &quot;Ascii Grid&quot; menu item.</p>
    <p>The &quot;Save DEM Grid to File&quot; dialog window opens.</p>
    <p>Browse to the location you wish to save the data in, then type a name for the file in the &quot;File Name:&quot;
        text box.</p>
    <p>Finally, click the &quot;Save File&quot; button to save the DEM data to the specified file name and location.</p>
    <p>Note</p>
    <p>Flat-processed DEM data may be loaded into JDPEM just like &quot;raw&quot; DEM data.</p>
    <p>Flat-processed DEM date does not need to be flat-processed again after it is loaded into JPDEM. However, to view
        the flow-accumulation grey-scale visualization of that flat-processed data, you must determine the flow data
        information for the flat-processed DEM values.</p>
    </div>