<h1>Appendix 5:</h1>
    <div class="toc"><a href="part51.htm">Generating daily temperature and</a></div>
    <p>Generating daily temperature and</p>
    <p>precipitation grids for running VELMA</p>
    <p><span><img width="676" height="1" alt="image" src="Image_187.png" /></span></p>
    <p><a href="#bookmark20" name="bookmark182">(Link to All Parameters Table of Contents)</a></p>
    <p>Introduction</p>
    <p>The VELMA model runs at a daily time step on a spatial grid covering the study area of interest. The grid is
        scalable but is often desired to be at a fairly fine scale of resolution, e.g., 30-m cells. The model requires
        daily values of precipitation and mean temperature for each cell. Historic daily temperature and precipitation
        records can be obtained from weather stations in the National Weather Service or other networks. A simplistic
        approach would be to assign temperature and precipitation values to each cell equal to those at the nearest
        weather station (Thiessen polygons). However, this would lead to a very “blocky” spatial data set with sharp
        discontinuities along lines equidistant from two weather stations.</p>
    <p>Smoother surfaces could be obtained by using algorithms such as inverse distance weighting to calculate values
        for each cell depending on their distance from multiple weather stations. Both of these approaches ignore
        spatial variation in weather variables that are related to physiographic characteristics other than distance
        from a data source. Elevation is often a strong driver of both temperature gradients due to adiabatic cooling
        and precipitation gradients due to orographic effects produced as the rising air cools, lowering its
        moisture-holding capacity and causing precipitation of the excess.</p>
    <p>The PRISM model was developed to spatially interpolate climate data from observational networks in a way that
        accounts for elevation and other physiographic variables of importance.</p>
    <p><a href="part51.htm#bookmark196">Originally developed for precipitation (Daly </a><a
            href="part51.htm#bookmark195">et al. 1994), it has since been expanded to include temperature as well (Daly
        </a><a href="part51.htm#bookmark194">et al. 2008). The model has become the most widely used source of spatial
            climate data sets in the U.S. and has been extensively used worldwide (Daly </a>and Bryant 2013).</p>
    <p><a href="part51.htm#bookmark198">Daily time series of PRISM interpolated temperature and precipitation data are
            supposed to be available for grids in the conterminous U.S. at a 4-km resolution (PRISM Climate Group 2013;
            data set </a><a href="http://prism.oregonstate.edu/" target="_blank">AN81d), but as of 3/6/14 this FTP link
            through the PRISM Climate Group web site (</a><span>http://prism.oregonstate.edu/</span>) was not
        functional. Even if available, a 4-km grid scale is very coarse compared to the finer scale resolution (e.g.,
        30-m) often desired for VELMA runs. Daily PRISM time series at higher resolution more suitable for supporting
        VELMA runs would need to be purchased, which would add significant cost to the application of VELMA to a study
        area. Depending on the number of cells in the study area, reading in daily grids of weather data would also
        significantly slow down the processing time for VELMA runs as well as greatly increasing the memory
        requirements.</p>
    <p>This manual describes an alternative approach for providing VELMA with daily temperature and precipitation data
        for each cell in a study grid. The desire is to capture the essence of PRISM's consideration of physiographic
        factors, but without (a) the expense of purchasing custom PRISM high- resolution daily time series products, or
        (b) the processing time and memory requirements that use of these products would entail. The method involves
        developing statistical regression relationships between weather variables from PRISM monthly 30-year normal maps
        and physiographic factors (elevation, etc.). Those relationships are then applied on a cell-by-cell basis,
        adjusting for the departure of daily weather values from monthly normals at a reference weather station in the
        study area. The steps involved in developing and applying these regressions are described below, using a VELMA
        application</p>
    <p>at the H.J. Andrews Experimental Forest in Oregon (hereafter referred to a HJA) as a specific example. Comments
        are also given about how this may vary for other application study sites.</p>
    <p><br /></p>
    <p>Procedure</p>
    <p>1. <u>Choose candidate variables and assemble data</u></p>
    <p><a href="part51.htm#bookmark194">PRISM assumes that elevation is the most important factor in the distribution of
            temperature and precipitation, but it also includes effects of a variety of other physiographic variables;
            these include topographic facet, proximity to coastlines, cold air drainage, and measures of topographic
            complexity (Daly and Bryant </a>2013). The first step in the regression approach is to choose proxy
        variables, for which data are available on a cell-by-cell basis, that are relevant to these physiographic
        relationships in PRISM. For the HJA we chose <u>elevation</u>, <u>flow accumulation</u>, and <u>heat load
            index</u><a href="part51.htm#bookmark197">. Flow accumulation (also known as contributing area) is the area
            of cells that are upslope of the target cell, into which water would flow. This is commonly used to model
            hydrologic routing, but is also relevant to cold air drainage modeled in PRISM. Heat load index is a
            variable that quantifies the heat load from annual incident solar radiation as a function of slope and
            aspect (McCune and Keon </a>2002), which relates to the topographic facets in PRISM. In other study areas,
        other appropriate variables might include distance from coastline if there is a significant coastal to inland
        gradient, or latitude if there is a sizable north to south gradient, for example.</p>
    <p><a href="http://prism.oregonstate.edu/" target="_blank">Once these physiographic variables have been selected, a
            data set must be assembled that includes values for each of the cells in the study area. In the HJA study, a
            30-m grid was used. A 30-m Digital Elevation Model (DEM) provided the data necessary for elevation and
            calculation of flow accumulation and heat index in a Geographic Information System (GIS) for each 30-m grid
            cell. In addition to physiographic data, PRISM monthly “normals” for temperature and precipitation must be
            assembled for each cell. On the PRISM web site (</a><span>http://prism.oregonstate.edu</span><a
            href="part51.htm#bookmark198">) data sets are freely available for the conterminous United States that
            include 30-year monthly temperature and precipitation normals for 1981-2010 at resolutions of 800 m and 4 km
            (PRISM Climate Group </a><a href="http://andrewsforest.oregonstate.edu/" target="_blank">2013). As an
            alternative, for the HJA study we used 50-m resolution PRISM data sets from the HJA web site
            (</a><span>http://andrewsforest.oregonstate.edu/</span>) that included monthly normals for total
        precipitation (mm) and daily mean temperature (C; average of daily minimum and daily maximum). The PRISM
        temperature data were based on 30 years of weather station observation (1971-2000), but 50-m PRISM precipitation
        data were only available at the time for 1981-1989. The monthly normals were rescaled to the 30-m grid, and this
        data set was merged with the 30-m physiographic data set. In summary, for each of 73,331 30-m cells the HJA data
        set included:</p>
    <p><br /></p>
    <p>Jan - Dec monthly normal precipitation (mm/month)</p>
    <p>Jan - Dec monthly normal mean temperature (C; average of daily min and max) elevation (m)</p>
    <p>flow accumulation (unitless) heat load index (unitless)</p>
    <p><br /></p>
    <p>Example maps of these HJA data are shown in Fig. 1.</p>
    <p><br /></p>
    <p>2. <u>Exploratory data analysis</u></p>
    <p>Once the data set has been read in, the distributions of values for the variables should be examined. This serves
        two purposes. First, it allows checking to see if all values are in an appropriate range and that there have not
        been any gross data transcription errors. Second, it allows consideration of whether transformations of the
        original variables might be another choice. In the case of the HJA data,</p>
    <p>for example, the flow accumulation variable was found to be very highly right skewed. A log10
        </span>transformation was used to create an alternative variable for testing in the regression model
        fitting.</span></p>
    <p>Correlation coefficients can be calculated between the weather variables (temperature and precipitation) and the
        physiographic variables. As expected, and as assumed by PRISM, in the HJA data set this analysis revealed that
        the strongest correlation was with elevation. Plots of temperature and precipitation versus elevation should be
        made for each month to see the form of this relationship. For HJA precipitation, this revealed fairly linear
        patterns for some months (Fig. 2a), but concave-upwards patterns for other months (Fig. 2b) indicating a
        possible quadratic relationship with elevation.</p>
    <p>Consequently, an elevation2</span> variable was created for testing alternative regression models. For HJA
        temperature, there was a linear increase with elevation up to a point, and then a linear decrease with elevation
        (Fig. 3). This indicated that a spline regression model be used, fitting a piecewise linear model with an
        inflection point.</p>
    <p>3. <u>Regression and model selection</u></p>
    <p><a href="part51.htm#bookmark193">Once the physiographic variables have been selected (step 1), additional
            polynomial terms have been created if indicated (step 2), and alternative transformations have been created
            if indicated (step 2), then alternative regression models can be fit for each month and the most appropriate
            model form chosen. Akaike's information criterion (AIC; Akaike </a>1974) is a widely used statistic to
        choose among competing regression models. It represents a compromise between goodness of fit (which increases
        with more parameters) and parsimony (which decreases with more parameters). In practice, ΔAIC values are
        computed as the model AIC value minus the minimum AIC value for all models tested.</p>
    <p>While it is possible that different models might have the lowest AIC value for different months, models with ΔAIC
        <u>&lt;</u> 2 are considered roughly equivalent. For consistency, it is desirable to choose a single model form
        that applies for all months and has ΔAIC <u>&lt;</u> 2.</p>
    <p>For HJA precipitation, the dependent variable was the mean precipitation for each month, and </span>the
        independent variables were elevation (<i>elev</i>), elevation2</span> (<i>elevsq</i>), heat load index
        (<i>hli</i>), and log10 </span>of flow accumulation (</span><i>logfacc</i>). Alternative regression models were
        fit that included </span><i>elev </i>and various subsets of the other variables. The full model with all the
        variables was selected as the best model; it had ΔAIC = 0 for 8 of the 12 months and </span><u>&lt;</u>2 for the
        other 4 months (Fig. 4). The regression parameters are shown in Table 1. The regression residuals fell inside an
        envelope of </span><u>+</u>20% (or better) of the monthly estimates over all months (Fig. 5). Sample SAS code
        for generating and comparing the regression models is given in Appendix 5.1, below.</span></p>
    <p>For HJA temperature, the dependent variable was the mean temperature for each month, and the independent
        variables were elevation (<i>elev</i>), heat load index (<i>hli</i>), and either flow accumulation (<i>facc</i>)
        or log</span>10 </span>of flow accumulation (</span><i>logfacc</i>). Alternative regression models were fit that
        included </span><i>elev </i>and </span>various subsets of the other variables. To do the spline fit, a
        non-linear regression procedure was used (PROC NLIN in SAS) that seeks an iterative solution to the regression
        parameters for each of the two linear pieces, as well as the inflection point where they meet. The full model
        with <i>elev, hli, </i>and <i>facc </i>was selected as the best model; it had ΔAIC = 0 for 9 of the 12 months,
        <u>&lt;</u>2 for 2 months, and 2.6 for the remaining month (Fig. 6). Models incorporating <i>logfacc </i>rather
        than <i>facc </i>failed to converge for several of the months, so <i>facc </i>was used instead. The regression
        parameters are shown in Table 2. The regression residuals roughly fell inside an envelope of <u>+</u>1 °C over
        all months (Fig. 7). Sample SAS code for generating and comparing the regression models is given in Appendix
        5.2, below.</p>
    <p>4. <u>Implementation to get daily temperature and precipitation</u></p>
    <p>The regression models give estimates of the long-term normal monthly mean temperature and precipitation totals at
        each cell, based on its elevation, heat load index, and flow accumulation values. (The monthly precipitation
        totals must be divided by the number of days in the month to translate this to a daily basis.) However, many
        VELMA applications seek to do simulations based on historic daily</p>
    <p>weather time series, or even on future scenarios of daily weather time series (adding projected temperature and
        precipitation changes to historic weather time series, for example).</p>
    <p>One mechanism to translate the regression temperature and precipitation monthly estimates into daily time series
        for each cell is to adjust the values using daily deviations from the monthly normals for a reference weather
        station in the study area. Essentially, this assumes that the daily deviations from climate normals are the same
        across the entire study area. For the HJA study, the PRIMET weather station was used as the reference (Fig. 8).
        (For future development, methods to use several reference weather stations might be explored, e.g., using
        inverse distance weighting to determine the deviations to apply to each cell in the study area.) Using the HJA
        example, the steps for this procedure were as follows:</p>
    <p>-</span> Compute expected daily PRIMET temperature (T) and precipitation (P) using the regression equations for
        that month, and the <i>elev</i>, <i>hli</i>, and <i>facc </i>values for the PRIMET location. (Divide the monthly
        P total estimates by the number of days in the month to get the daily estimate; this is not necessary for
        temperature.)</p>
    <p>- Using the observed daily PRIMET T and P values, compute T and P deviations (observed - expected).</span></p>
    <p>-</span> Compute expected T and P values for all other cells using their <i>elev</i>, <i>hli</i>, and <i>facc
        </i>values.</p>
    <p>- Add the PRIMET T and P deviations to the expected values for all cells.</span></p>
    <p>- Using P as an example:</span></p>
    <p>Subscript 0 denotes PRIMET, x denotes other location, m denotes month, ndaysm </span>denotes number of days in
        month m, exp denotes expected value from regression</span></p>
    <p>P0 </span>= observed P at PRIMET for a day in month m</p>
    <p>P</span>0,exp </span>= (a</span>m </span>+ b</span>m</span>*</span>elev</span>0 + c</span>m*</span>elevsq</span>0
        + d</span>m*</span>hli</span>0 + e</span>m*</span>logfacc</span>0) / ndays</span>m Δ = P</span>0 - P</span>0,exp
    </p>
    <p>Px</span>' = Px,exp </span>+ Δ</p>
    <p>= (am </span>+ bm</span>*<i>elev</i>x </span>+ c</span>m</span>*</span><i>elevsq</i>x </span>+
        dm</span>*<i>hli</i>x </span>+ em</span>*<i>logfacc</i>x</span>) / ndaysm </span>+ Δ</p>
    <p>A test was done to make sure the adjustment was working correctly in the VELMA code by focusing on the 30-m cell
        in which PRIMET was located. For each day in 2007, the expected daily precipitation and temperature were
        calculated from the regression equations and then adjusted following the procedure above. As expected, the
        adjusted simulated results for PRIMET were identical to the observed precipitation and temperature data,
        indicating that the code correctly implemented these procedures (Fig. 9).</p>
    <p><span><img width="582" height="235" alt="image" src="Image_188.png" /></span></p>
    <p><br /></p>
    <p><span><img width="230" height="164"
                alt="L:\Public\dphill02\from Jonathan\HJA Climate Work\HJA_ClimateModeling_FACC.png"
                title="L:\Public\dphill02\from Jonathan\HJA Climate Work\HJA_ClimateModeling_FACC.png"
                src="Image_189.jpg" /></span> <span><img width="230" height="164"
                alt="L:\Public\dphill02\from Jonathan\HJA Climate Work\HJA_ClimateModeling_Elevation.png"
                title="L:\Public\dphill02\from Jonathan\HJA Climate Work\HJA_ClimateModeling_Elevation.png"
                src="Image_190.jpg" /></span></p>
    <p><br /></p>
    <p><span><img width="579" height="2" alt="image" src="Image_191.png" /></span></p>
    <p>Fig. 1 - Example maps of H.J. Andrew Experimental Forest PRISM climate and physiographic variables.</p>
    <p><span><img width="474" height="337" alt="image" src="Image_192.png" /></span></p>
    <p><br /></p>
    <p><span><img width="462" height="324" alt="M:\SASfiles\HJA\May ppt vs elev.jpg"
                title="M:\SASfiles\HJA\May ppt vs elev.jpg" src="Image_193.jpg" /></span></p>
    <p>Fig. 2 - Plots of monthly mean precipitation (mm) versus elevation for H.J. Andrews Experimental Forest. (a)
        November data, showing more or less linear increase. (b) May data, showing a quadratic increase.</p>
    <p><span><img width="626" height="445" alt="image" src="Image_194.png" /></span></p>
    <p>Fig. 3 - Plots of monthly mean temperature (C) for November versus elevation for H.J. Andrews Experimental
        Forest. Note the piecewise linear relationship, with an inflection point at around 700 m elevation.</p>
    <p><br /></p>
    <p><span><img width="628" height="463" alt="image" src="Image_195.png" /></span></p>
    <p>6000</p>
    <p>
    <p>5000</p>
    <p>
    <p>4000</p>
    <p><br /></p>
    <p>3000</p>
    <p><br /></p>
    <p>2000</p>
    <p>
    <p>E</p>
    <p>EE2 EH EE2H EF EE2F EHF EE2HF</p>
    <p>
    <p>1000</p>
    <p>
    <p>0</p>
    <p>
    <p>1</p>
    <p>
    <p>2</p>
    <p>
    <p>3</p>
    <p>
    <p>4</p>
    <p>
    <p>5</p>
    <p>
    <p>6</p>
    <p>
    <p>7</p>
    <p>
    <p>8</p>
    <p>
    <p>9</p>
    <p>
    <p>10</p>
    <p>
    <p>11</p>
    <p>
    <p>12</p>
    <p>
    <p>Month</p>
    <p>
    <p>ΔAIC</p>
    <p>
    <p>Fig. 4 - Plot of ΔAIC over all months for alternative precipitation regression models at H.J. Andrews
        </span>Experimental Forest. E = elevation, E2 = elevation2</span>, H = heat load index, F = log10 </span>of flow
        accumulation.</span></p>
    <p><span><img width="611" height="433" alt="M:\SASfiles\HJA\November ppt residuals.jpg"
                title="M:\SASfiles\HJA\November ppt residuals.jpg" src="Image_196.jpg" /></span></p>
    <p>Fig. 5 - Graph of November precipitation regression residuals versus predicted precipitation at H.J. Andrews
        Experimental Forest. Red bounding lines represent <u>+</u>20% of the monthly precipitation estimate.</p>
    <p><br /></p>
    <p><span><img width="628" height="466" alt="image" src="Image_197.png" /></span></p>
    <p>160</p>
    <p>
    <p>140</p>
    <p>
    <p>120</p>
    <p>
    <p>100</p>
    <p>
    <p>80</p>
    <p><br /></p>
    <p>60</p>
    <p>
    <p>E</p>
    <p>EH EF EHF</p>
    <p>
    <p>40</p>
    <p>
    <p>20</p>
    <p>
    <p>0</p>
    <p>
    <p>1</p>
    <p>
    <p>2</p>
    <p>
    <p>3</p>
    <p>
    <p>4</p>
    <p>
    <p>5</p>
    <p>
    <p>6</p>
    <p>
    <p>7</p>
    <p>
    <p>8</p>
    <p>
    <p>9</p>
    <p>
    <p>10 11 12</p>
    <p>
    <p>Month</p>
    <p>
    <p>ΔAIC</p>
    <p>
    <p>Fig. 6 - Plot of ΔAIC over all months for alternative temperature regression models at H.J. Andrews Experimental
        Forest. E = elevation, H = heat load index, F = flow accumulation.</p>
    <p><span><img width="626" height="445" alt="image" src="Image_198.png" /></span></p>
    <p>Fig. 7 - Graph of November mean temperature regression residuals versus predicted precipitation at H.J. Andrews
        Experimental Forest. Red bounding lines represent <u>+</u>1 °C.</p>
    <p><span><img width="605" height="450" alt="image" src="Image_199.jpg" /></span></p>
    <p>Fig. 8 - Map of weather station locations at the H.J. Andrews Experimental Forest.</p>
    <p><br /></p>
    <p><span><img width="628" height="358" alt="image" src="Image_200.png" /></span></p>
    <p>30</p>
    <p>
    <h3>PRIMET AirT Observed Vs Simulated Comparison : 2007</h3>
    <p>
    <p>25</p>
    <p>
    <p>PRIMET AIRPRI01</p>
    <p>PRIMET Simulated</p>
    <p>
    <p>20</p>
    <p>
    <p>15</p>
    <p>
    <p>10</p>
    <p>
    <p>5</p>
    <p>
    <p>0</p>
    <p>
    <p>-5</p>
    <p>
    <p>-10</p>
    <p>
    <p>Julian Day</p>
    <p>
    <p>Degrees C</p>
    <p>
    <p>1</p>
    <p>12</p>
    <p>23</p>
    <p>34</p>
    <p>45</p>
    <p>56</p>
    <p>67</p>
    <p>78</p>
    <p>89</p>
    <p>100</p>
    <p>111</p>
    <p>122</p>
    <p>133</p>
    <p>144</p>
    <p>155</p>
    <p>166</p>
    <p>177</p>
    <p>188</p>
    <p>199</p>
    <p>210</p>
    <p>221</p>
    <p>232</p>
    <p>243</p>
    <p>254</p>
    <p>265</p>
    <p>276</p>
    <p>287</p>
    <p>298</p>
    <p>309</p>
    <p>320</p>
    <p>331</p>
    <p>342</p>
    <p>353</p>
    <p>364</p>
    <p>
    <p>Fig. 9 - Comparison of observed H.J. Andrews Experimental Forest PRIMET weather station daily mean temperature
        for 2007 and VELMA simulated data for the same location. The VELMA simulated data used the temperature
        regression equation to estimate monthly normal temperature for the cell containing PRIMET, and then made
        adjustments based on the observed PRIMET daily mean temperature. This is a check to make sure that the
        implementation of the temperature regression and adjustment is working correctly, as indicated by the
        coincidence of the blue and red lines (red is on top).</p>
    <table>
        <tr>
            <td>
                <p>Month</p>
            </td>
            <td>
                <p>a</p>
            </td>
            <td>
                <p>b</p>
            </td>
            <td>
                <p>c</p>
            </td>
            <td>
                <p>d</p>
            </td>
            <td>
                <p>e</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>1</p>
            </td>
            <td>
                <p>259.751</p>
            </td>
            <td>
                <p>0.011833</p>
            </td>
            <td>
                <p>5.24E-05</p>
            </td>
            <td>
                <p>-3.94717</p>
            </td>
            <td>
                <p>-0.09685</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2</p>
            </td>
            <td>
                <p>241.5404</p>
            </td>
            <td>
                <p>0.006131</p>
            </td>
            <td>
                <p>6.1E-05</p>
            </td>
            <td>
                <p>-5.15183</p>
            </td>
            <td>
                <p>0.892817</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>3</p>
            </td>
            <td>
                <p>210.8037</p>
            </td>
            <td>
                <p>0.037236</p>
            </td>
            <td>
                <p>4.62E-05</p>
            </td>
            <td>
                <p>-4.20577</p>
            </td>
            <td>
                <p>0.951439</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>4</p>
            </td>
            <td>
                <p>96.40946</p>
            </td>
            <td>
                <p>0.080534</p>
            </td>
            <td>
                <p>7.44E-06</p>
            </td>
            <td>
                <p>-1.44569</p>
            </td>
            <td>
                <p>1.250961</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>5</p>
            </td>
            <td>
                <p>88.34944</p>
            </td>
            <td>
                <p>0.014202</p>
            </td>
            <td>
                <p>3.06E-05</p>
            </td>
            <td>
                <p>-0.20094</p>
            </td>
            <td>
                <p>1.259266</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>6</p>
            </td>
            <td>
                <p>53.51838</p>
            </td>
            <td>
                <p>0.048195</p>
            </td>
            <td>
                <p>9.53E-06</p>
            </td>
            <td>
                <p>0.873204</p>
            </td>
            <td>
                <p>1.297879</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>7</p>
            </td>
            <td>
                <p>13.08702</p>
            </td>
            <td>
                <p>0.023576</p>
            </td>
            <td>
                <p>2.49E-06</p>
            </td>
            <td>
                <p>0.686924</p>
            </td>
            <td>
                <p>0.685529</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>8</p>
            </td>
            <td>
                <p>21.89397</p>
            </td>
            <td>
                <p>7.78E-05</p>
            </td>
            <td>
                <p>6.23E-06</p>
            </td>
            <td>
                <p>-0.00893</p>
            </td>
            <td>
                <p>0.199088</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>9</p>
            </td>
            <td>
                <p>70.03036</p>
            </td>
            <td>
                <p>0.007598</p>
            </td>
            <td>
                <p>2.39E-05</p>
            </td>
            <td>
                <p>-0.00868</p>
            </td>
            <td>
                <p>0.959202</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>10</p>
            </td>
            <td>
                <p>124.4332</p>
            </td>
            <td>
                <p>-0.00302</p>
            </td>
            <td>
                <p>3.59E-05</p>
            </td>
            <td>
                <p>-1.16562</p>
            </td>
            <td>
                <p>0.890761</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>11</p>
            </td>
            <td>
                <p>316.075</p>
            </td>
            <td>
                <p>0.072349</p>
            </td>
            <td>
                <p>4.32E-05</p>
            </td>
            <td>
                <p>-4.40543</p>
            </td>
            <td>
                <p>1.247633</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>12</p>
            </td>
            <td>
                <p>290.7049</p>
            </td>
            <td>
                <p>0.034712</p>
            </td>
            <td>
                <p>4.62E-05</p>
            </td>
            <td>
                <p>-4.46288</p>
            </td>
            <td>
                <p>0.495517</p>
            </td>
        </tr>
    </table>
    <p><br /></p>
    <p>Table 1. Monthly mean precipitation regression model coefficients based on PRISM data for 30-m cells in the H. J.
        Andrews Experimental Forest. The models are of the form:</p>
    <p>P = a + b*</span>elev + c*</span>elevsq + d*</span>hli + e*</span>logfacc</p>
    <p><i>P </i>in mm/month, <i>elev </i>in m, <i>elevsq </i>in m2</span>, <i>hli </i>is unitless, <i>logfacc </i>is
        unitless</p>
    <table>
        <tr>
            <td>
                <p>Month</p>
            </td>
            <td>
                <p>b</p>
            </td>
            <td>
                <p>c</p>
            </td>
            <td>
                <p>d</p>
            </td>
            <td>
                <p>e</p>
            </td>
            <td>
                <p>g</p>
            </td>
            <td>
                <p>h</p>
            </td>
            <td>
                <p>i</p>
            </td>
            <td>
                <p>j</p>
            </td>
            <td>
                <p>x</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>1</p>
            </td>
            <td>
                <p>0.007047</p>
            </td>
            <td>
                <p>0.018444</p>
            </td>
            <td>
                <p>2.75E-06</p>
            </td>
            <td>
                <p>-1.12696</p>
            </td>
            <td>
                <p>-0.00434</p>
            </td>
            <td>
                <p>0.012177</p>
            </td>
            <td>
                <p>-1.6E-05</p>
            </td>
            <td>
                <p>6.606466</p>
            </td>
            <td>
                <p>679.15</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2</p>
            </td>
            <td>
                <p>0.006148</p>
            </td>
            <td>
                <p>0.065628</p>
            </td>
            <td>
                <p>2.76E-06</p>
            </td>
            <td>
                <p>1.024448</p>
            </td>
            <td>
                <p>-0.00545</p>
            </td>
            <td>
                <p>0.037565</p>
            </td>
            <td>
                <p>-1.5E-05</p>
            </td>
            <td>
                <p>8.958362</p>
            </td>
            <td>
                <p>684.28</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>3</p>
            </td>
            <td>
                <p>0.001492</p>
            </td>
            <td>
                <p>0.041412</p>
            </td>
            <td>
                <p>1.47E-06</p>
            </td>
            <td>
                <p>5.402304</p>
            </td>
            <td>
                <p>-0.00656</p>
            </td>
            <td>
                <p>0.039723</p>
            </td>
            <td>
                <p>-5.7E-06</p>
            </td>
            <td>
                <p>11.03547</p>
            </td>
            <td>
                <p>699.67</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>4</p>
            </td>
            <td>
                <p>-0.00239</p>
            </td>
            <td>
                <p>0.053357</p>
            </td>
            <td>
                <p>2.53E-07</p>
            </td>
            <td>
                <p>10.24696</p>
            </td>
            <td>
                <p>-0.00697</p>
            </td>
            <td>
                <p>0.043574</p>
            </td>
            <td>
                <p>6.13E-06</p>
            </td>
            <td>
                <p>13.99039</p>
            </td>
            <td>
                <p>818.03</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>5</p>
            </td>
            <td>
                <p>0.004219</p>
            </td>
            <td>
                <p>0.059169</p>
            </td>
            <td>
                <p>1.86E-06</p>
            </td>
            <td>
                <p>8.916032</p>
            </td>
            <td>
                <p>-0.00707</p>
            </td>
            <td>
                <p>0.056038</p>
            </td>
            <td>
                <p>-1.2E-05</p>
            </td>
            <td>
                <p>16.80074</p>
            </td>
            <td>
                <p>698.66</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>6</p>
            </td>
            <td>
                <p>-0.00222</p>
            </td>
            <td>
                <p>0.046785</p>
            </td>
            <td>
                <p>-1.3E-06</p>
            </td>
            <td>
                <p>16.98087</p>
            </td>
            <td>
                <p>-0.00684</p>
            </td>
            <td>
                <p>0.078366</p>
            </td>
            <td>
                <p>1.33E-05</p>
            </td>
            <td>
                <p>20.81386</p>
            </td>
            <td>
                <p>827.75</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>7</p>
            </td>
            <td>
                <p>-0.00123</p>
            </td>
            <td>
                <p>0.004955</p>
            </td>
            <td>
                <p>-2.5E-06</p>
            </td>
            <td>
                <p>19.38073</p>
            </td>
            <td>
                <p>-0.00633</p>
            </td>
            <td>
                <p>0.073345</p>
            </td>
            <td>
                <p>-1.9E-06</p>
            </td>
            <td>
                <p>23.54351</p>
            </td>
            <td>
                <p>814.57</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>8</p>
            </td>
            <td>
                <p>-0.00023</p>
            </td>
            <td>
                <p>0.00407</p>
            </td>
            <td>
                <p>-2.6E-06</p>
            </td>
            <td>
                <p>18.81907</p>
            </td>
            <td>
                <p>-0.00585</p>
            </td>
            <td>
                <p>0.007047</p>
            </td>
            <td>
                <p>9.03E-06</p>
            </td>
            <td>
                <p>23.53079</p>
            </td>
            <td>
                <p>836.26</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>9</p>
            </td>
            <td>
                <p>0.001476</p>
            </td>
            <td>
                <p>-0.0342</p>
            </td>
            <td>
                <p>-2.3E-06</p>
            </td>
            <td>
                <p>14.80655</p>
            </td>
            <td>
                <p>-0.00612</p>
            </td>
            <td>
                <p>0.047614</p>
            </td>
            <td>
                <p>7.6E-06</p>
            </td>
            <td>
                <p>20.83291</p>
            </td>
            <td>
                <p>791.89</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>10</p>
            </td>
            <td>
                <p>-0.00023</p>
            </td>
            <td>
                <p>0.018716</p>
            </td>
            <td>
                <p>-1.2E-06</p>
            </td>
            <td>
                <p>11.70249</p>
            </td>
            <td>
                <p>-0.00641</p>
            </td>
            <td>
                <p>0.112236</p>
            </td>
            <td>
                <p>-8.6E-06</p>
            </td>
            <td>
                <p>16.77907</p>
            </td>
            <td>
                <p>819.27</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>11</p>
            </td>
            <td>
                <p>0.002002</p>
            </td>
            <td>
                <p>0.014029</p>
            </td>
            <td>
                <p>-2.6E-07</p>
            </td>
            <td>
                <p>3.771477</p>
            </td>
            <td>
                <p>-0.00556</p>
            </td>
            <td>
                <p>0.027117</p>
            </td>
            <td>
                <p>-1.4E-05</p>
            </td>
            <td>
                <p>9.412401</p>
            </td>
            <td>
                <p>745.95</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>12</p>
            </td>
            <td>
                <p>0.00697</p>
            </td>
            <td>
                <p>0.047469</p>
            </td>
            <td>
                <p>2.59E-06</p>
            </td>
            <td>
                <p>-1.28579</p>
            </td>
            <td>
                <p>-0.00399</p>
            </td>
            <td>
                <p>0.007256</p>
            </td>
            <td>
                <p>-1.7E-05</p>
            </td>
            <td>
                <p>6.096779</p>
            </td>
            <td>
                <p>674.34</p>
            </td>
        </tr>
    </table>
    <p><br /></p>
    <p>Table 2. Monthly mean temperature regression model coefficients based on PRISM data for 30-m cells in the H. J.
        Andrews Experimental Forest. The models are of the form:</p>
    <p>For </span>elev &lt; x: T = b*</span>elev + c*</span>hli + d*</span>facc + e For </span>elev <u>&gt;</u> x: T =
        g*</span>elev + h*</span>hli + i*</span>facc + j</span></p>
    <p>T is in °C, </span>elev in m, </span>hli is unitless, </span>facc is unitless</span></p>
    <p>References</p>
    <p>Akaike H (1974) A new look at the statistical model identification. IEEE Transactions on Automatic Control
        19:716-723</p>
    <p><a href="http://prism.oregonstate.edu/documents/PRISM_history_jun2013.pdf">Daly C, Bryant K (2013) The PRISM
            Climate and Weather System - An Introduction. In. PRISM Climate Group, Oregon State University, Corvallis,
            Oregon, </a><a href="http://prism.oregonstate.edu/documents/PRISM_history_jun2013.pdf"
            target="_blank">http://prism.oregonstate.edu/documents/PRISM_history_jun2013.pdf</a></p>
    <p>Daly C, Halbleib M, Smith JI et al. (2008) Physiographically sensitive mapping of climatological temperature and
        precipitation across the conterminous United States. International Journal of Climatology 28:2031-2064</p>
    <p>Daly C, Neilson RP, Phillips DL (1994) A statistical-topographic model for mapping climatological precipitation
        over mountainous terrain. Journal of Applied Meteorology 33:140-158</p>
    <p>McCune B, Keon D (2002) Equations for potential annual direct incident radiation and heat load.</p>
    <p>Journal of Vegetation Science 13:603-606</p>
    <p><a href="http://prism.oregonstate.edu/documents/PRISM_history_jun2013.pdf">PRISM Climate Group (2013)
            Descriptions of PRISM Spatial Climate Datasets for the Conterminous United States. In. PRISM Climate Group,
            Oregon State University, Corvallis, Oregon, </a><a
            href="http://prism.oregonstate.edu/documents/PRISM_history_jun2013.pdf"
            target="_blank">http://prism.oregonstate.edu/documents/PRISM_history_jun2013.pdf</a></p>
    <p>Appendix 5.1 - Sample SAS code for generating and comparing monthly total precipitation regression models at H.J.
        Andrews Experimental Forest.</p>
    <p><br /></p>
    <p>proc reg </span>data<span>=hja.hja </span>outest<span>=parmout; </span>by <span>month;</span></p>
    <p>model <span>ppt = elev elevsq hli logfacc / </span>selection<span>=</span>cp aic<span>; </span>output
        out<span>=pptout </span>p<span>=phat </span>r<span>=presid;</span></p>
    <p>Notes:</p>
    <p>- The input data are read in from the file 'hja' in the SAS library (folder) 'hja'.</span></p>
    <p>- Separate models are fit for each month.</span></p>
    <p>- With the 'selection' option, models are fit using all the various sets of independent variables listed.</span>
    </p>
    <p>- By using the 'aic' option, Akaike Information Criterion (AIC) values are given in the output for each model.
        This allows calculation of ΔAIC compared to the model with the lowest AIC value (Fig. 4).</span></p>
    <p>- The parameter estimates for each model are written to the file 'parmout' (Table 1).</span></p>
    <p>- Predicted estimates ('phat') and residuals ('presid') are written to the file 'pptout' for plotting residuals
        vs. predicted values (Fig. 5).</span></p>
    <p>Appendix 5.2 - Sample SAS code for generating and comparing monthly temperature regression models at H.J. Andrews
        Experimental Forest.</p>
    <p>* TEMP MODEL WITH ELEV, HLI, FACC. BEST MODEL - MIN AIC FOR MOST MONTHS, MINIMAL DELTA AIC FOR OTHER MONTHS;</p>
    <p>* Segmented model, linear with elev above and below a join point x;</p>
    <p>proc nlin </span>data<span>=hja.hja </span>outest<span>=parmout; </span>by <span>month;</span></p>
    <p><span>parms </span>b=0.01 </span>c=0 </span>d=0 </span>e=0 </span>g=-0.005 </span>h=0 </span>i=0
        </span>j=10</span>; <span>file </span>print;</p>
    <p>x = ((h-c)*hli + (i-d)*facc + (j-e))/(b-g); <span>if </span>elev &lt; x <span>then do</span>;</p>
    <p>model <span>temp = b*elev + c*hli + d*facc + e; der.b = elev;</span></p>
    <p>der.c = hli; der.d = facc; der.e = 1</span>;</p>
    <p>der.g = 0</span>;</p>
    <p>der.h = 0</span>;</p>
    <p>der.i = 0</span>;</p>
    <p>der.j = 0</span>;</p>
    <p>end<span>; </span>else do<span>;</span></p>
    <p><span>model </span>temp = g*elev + h*hli + i*facc + j; der.b = 0</span>;</p>
    <p>der.c = 0</span>;</p>
    <p>der.d = 0</span>;</p>
    <p>der.e = 0</span>; der.g = elev; der.h = hli; der.i = facc; der.j = 1</span>;</p>
    <p><br /></p>
    <p>Notes:</p>
    <p>end<span>;</span></p>
    <p>if <span>_obs_=</span>1 </span>then do<span>; </span><span>* PRINT X ESTIMATE TO TRACK CONVERGENCE;</span></p>
    <p>put <span>x =; </span>end<span>;</span></p>
    <p>output out<span>=tempout </span>predicted<span>=that </span>residual<span>=tresid;</span></p>
    <p>- The input data are read in from the file 'hja' in the SAS library (folder) 'hja'.</span></p>
    <p>- Separate models are fit for each month.</span></p>
    <p>-</span> This is a spline model, fitting linear models above and below an inflection point at elevation <i>x</i>,
        which is also estimated. This requires use of an iterative non-linear procedure (PROC NLIN). Unlike PROC REG in
        Appendix 5.1, this does not have the capability to fit multiple alternative models at once and report the AIC
        values for each. Instead, each alternative model must be specified. The above code specifies the full model with
        <i>elev</i>, <i>hli</i>, and <i>facc</i>. AIC values are not automatically printed and must be calculated from
        the sum of squares error (SSE), number of parameters (p; 4 in this case), and number of sample points (n; 73,331
        in this case), according to the formula: AIC = n * ln(SSE / n) + 2*p. ΔAIC values are then calculated by
        subtracting the AIC for the model with the lowest AIC value (Fig. 6).</p>
    <p>- The 'parms' statement specifies starting values for the parameters to begin the iterative search for best
        fit.</span></p>
    <p>-</span> <i>x </i>represents the elevation at which the two piecewise linear models meet. To make the overall
        model continuous requires that the estimated temperature must be the same for both piecewise linear models at
        that point. The expression for <i>x </i>is derived by setting the two models equal to each other and solving for
        <i>elev </i>at which they are equal:</p>
    <p>b*<i>elev </i>+ c*<i>hli </i>+ d*<i>facc </i>+ e = g*<i>elev </i>+ h*<i>hli </i>+ i*<i>facc </i>+ j b*<i>elev
        </i>- g*<i>elev </i>= h*<i>hli </i>- c*<i>hli </i>+ i*<i>facc </i>- d*<i>facc </i>+ j - e</p>
    <p>x = </span>elev = ((h - c)*</span>hli + (I - d)*</span>facc + (j - e))/(b - g)</span></p>
    <p><br /></p>
    <p>- The 'der' statements specify the first derivatives of each of the linear models with respect to each of the
        parameters.</span></p>
    <p>- The parameter estimates for each model are written to the file 'parmout' (Table 2).</span></p>
    <p>- Predicted estimates ('that') and residuals ('tresid') are written to the file 'tempout' for plotting residuals
        vs. predicted values (Fig. 7).</span></p>