extends layout.pug
block content
    h1 Appendix 6.1: Hydrological Model Description
    h2 VELMA version 1.0, Part 1 of 2 HYDROLOGICAL Model Description
    a(href="https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2010WR010165") Catchment hydrological responses to forest harvest amount and spatial pattern

    h1 Appendix 6.2: Biochemical Model Description
    h2 VELMA version 1.0, Part 2 of 2 BIOGEOCHEMICAL Model Description
    a(href="https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2012WR012994") Effects of harvest on carbon and nitrogen dynamics in a Pacific Northwest forest catchment