<h1>Appendix 3:</h1>
    <div class="toc"><a href="part43.htm">Creating Initial ASCII Grid Chemistry Spatial Data Pools</a><a class="toc1"
            href="part44.htm">Software Requirements</a><a class="toc1" href="part45.htm">File Requirements for Data
            Processing</a><a class="toc1" href="part46.htm">Setting up Python Script for Data Processing</a><a
            class="toc1" href="part47.htm">Editing the Python Script</a></div>

            <p>Creating Initial ASCII Grid Chemistry Spatial Data Pools</p>
    <p><span><img width="676" height="1" alt="image" src="Image_178.png" /></span></p>
    <p><a href="#bookmark20" name="bookmark175">(Link to All Parameters Table of Contents)</a></p>
    <p>Initial chemistry or nutrient pools are created through a series of transformations of above ground Biomass to
        each of the respective spatial data pools. These transformations are defined by relationship ratios (fractions)
        each pool has to “real” or estimated measurements of Biomass (g/m²) for the study area.</p>
    <p>37 VELMA Simulator spatial data pools will be created from this one raster grid Biomass layer. See Table 1 for
        the complete list of initial layers that will be created. Each spatial data pool layer will have its own
        corresponding Grid ASCII (.asc) map file upon completion of the Python script. These Grid ASCII (.asc) map files
        will be used as inputs to VELMA for initializing the map disturbance events.</p>
    <p>Figure 1 describes the internal processing flow, inputs, and outputs of the script. Figure 2 describes the
        calculations and quality control of the internal Python processing.</p>
    <p><br /></p>
    <div class="toc"><a href="part44.htm">Software Requirements</a><a href="part45.htm">File Requirements for Data
            Processing</a><a href="part46.htm">Setting up Python Script for Data Processing</a><a
            href="part47.htm">Editing the Python Script</a></div>

            <p>Software Requirements</p>
    <p>- ArcGIS 10.0 or higher with “Spatial Analyst” license</span></p>
    <p>- NumPy package installed, for the Python version used by ArcGIS 10.X</span></p>
    <p>- IDLE - Python's Integrated Development Environment installed</span></p>
    <p><br /></p>

    <p>File Requirements for Data Processing</p>
    <p>- Raster above ground biomass of the study area</span></p>
    <p>o Unit type - Carbon grams / m²</span></p>
    <p>o “.tif” extension</span></p>
    <p>o Raster has been clipped and snapped to same dimensions as the Grid ASCII map of DEM data that the simulation
        will use.</span></p>
    <p>- Summary Biomass to ratio pools file</span></p>
    <p>o “.csv” comma delaminate format</span></p>
    <p>o No headers</span></p>
    <p>o Biomass values (stand age / mass) is in the first column</span></p>
    <p>o Pool ratios values in subsequent columns (quantity 37)</span></p>
    <p>o Column arrangement /order is known for the ratios</span></p>

    <p>Setting up Python Script for Data Processing</p>
    <p>The script is set up in two general sections, “User defined inputs” and “Processing functions”. “User defined
        inputs” is where inputs, outputs, and column order will be defined or edited. Changes to the “Processing
        functions” section of the Python code should be avoided.</p>
    <p>Note</p>
    <p>While editing “User defined inputs”</p>
    <p>- </span>All file and folder paths need to be enclosed in double quotes: &quot;C:/Temp/Biomass/&quot;</span></p>
    <p>- </span>All paths in Python use a “/” instead of the DOS “\”</span></p>
    <p>- </span>Folder defined paths need to end in “/” &quot;C:/Temp/Biomass/&quot;</span></p>
    <p>- </span>File defined paths need to end with correct extension &quot;C:/Temp/Biomass/C_g_leaf.tif&quot;</span>
    </p>
    <p>- </span>Ensure that all final output working directories are the same</span></p>
    <p>Note</p>
    <p>Biomass to ratio pools file</p>
    <p>- </span>Column arrangement must be maintained as noted above</span></p>

    <p>Editing the Python Script</p>
    <p>1. Right click the “lookup_ratio_calculate_biomass_func.py” script and click “Edit With IDLE”</p>
    <p>2. Editing within the “User defined inputs” section</p>
    <p>3. Edit all path variables for:</p>
    <p>o “biomassLayer” - Biomass file</span></p>
    <p>o “inputPath” - Main output directory</span></p>
    <p>o “massRatio” - “.csv” Summary Biomass to ratio pools file</span></p>
    <p>o </span>Ouput rasters files, for each of the velma attributes - <b>“.tif” </b>extension</p>
    <p>o Column number of pool ratio to biomass - </span>Order specific</span></p>
    <p>o Carbon to nitrogen ratios</span></p>
    <p>o Raster attributes</span></p>
    <p> xllcorner</span></p>
    <p> yllcorner</span></p>
    <p> cellsize</span></p>
    <p> nodata</span></p>
    <p>4. Pres Ctrl+S to save the file</p>
    <p>5. Press F5 to run!</p>
    <p>Note</p>
    <p>Processing time is very dependent on processing power and the size of your study area. For example the Blue
        River, in Oregon, had a study grid of ~350,000 cells and took 7-12hours to complete all 37 pools. The Python
        shell will print updates of pool processing steps, and say “All Done!” when it's done.</p>
    <table>
        <tr>
            <td>
                <p>Table 1. Initial spatial pools derived from ratios to above ground biomass (C g/m^2)</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Spatial Data Pool Name</p>
            </td>
            <td>
                <p>Layers</p>
            </td>
            <td>
                <p>Unit Type</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>BIOMASS_AG_STEM_N</p>
            </td>
            <td>
                <p>1</p>
            </td>
            <td>
                <p>N g/m^2</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>BIOMASS_BG_STEM_N</p>
            </td>
            <td>
                <p>1</p>
            </td>
            <td>
                <p>N g/m^2</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>BIOMASS_LEAF_N</p>
            </td>
            <td>
                <p>1</p>
            </td>
            <td>
                <p>N g/m^2</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>BIOMASS_ROOT_N</p>
            </td>
            <td>
                <p>4</p>
            </td>
            <td>
                <p>N g/m^2</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>DETRITUS_AG_STEM_N</p>
            </td>
            <td>
                <p>1</p>
            </td>
            <td>
                <p>N g/m^2</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>DETRITUS_BG_STEM_N</p>
            </td>
            <td>
                <p>4</p>
            </td>
            <td>
                <p>N g/m^2</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>DETRITUS_LEAF_N</p>
            </td>
            <td>
                <p>1</p>
            </td>
            <td>
                <p>N g/m^2</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>DETRITUS_ROOT_N</p>
            </td>
            <td>
                <p>4</p>
            </td>
            <td>
                <p>N g/m^2</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>DOC</p>
            </td>
            <td>
                <p>4</p>
            </td>
            <td>
                <p>C g/m^2</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>DON</p>
            </td>
            <td>
                <p>4</p>
            </td>
            <td>
                <p>N g/m^2</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>HUMUS</p>
            </td>
            <td>
                <p>4</p>
            </td>
            <td>
                <p>N g/m^2</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>NH4</p>
            </td>
            <td>
                <p>4</p>
            </td>
            <td>
                <p>N g/m^2</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>NO3</p>
            </td>
            <td>
                <p>4</p>
            </td>
            <td>
                <p>N g/m^2</p>
            </td>
        </tr>
    </table>
    <p><br /></p>
    <p><span><img width="243" height="80" alt="image" src="Image_179.png" /></span></p>
    <p><span><img width="435" height="311" alt="image" src="Image_180.png" /></span></p>
    <p>Biomass (1)</p>
    <p>
    <p>Biomass</p>
    <p>
    <div class="textbox">
        <p><br /></p>
        <p>Conversion</p>
        <p>g Mass -&gt; C g / m²</p>
    </div>
    <p>
    <p>Live Mass</p>
    <p>
    <p>Detritus</p>
    <p>
    <p>Humus</p>
    <p>
    <p>Organic</p>
    <p>
    <p>Live Mass</p>
    <p>
    <p>Detritus</p>
    <p>
    <p>Humus</p>
    <p>
    <div class="textbox">
        <p><br /></p>
        <p>Conversion</p>
        <p>C g / m² -&gt; N g / m²</p>
    </div>
    <p>
    <p><span><img width="98" height="43" alt="image" src="Image_181.png" /></span></p>
    <p><span><img width="98" height="43" alt="image" src="Image_182.png" /></span></p>
    <p><span><img width="435" height="82" alt="image" src="Image_183.png" /></span></p>
    <p><span><img width="98" height="43" alt="image" src="Image_184.png" /></span></p>
    <div class="textbox">
        <p><br /></p>
        <p>Conversion Raster -&gt; ASCII Grid</p>
    </div>
    <p>
    <div class="textbox">
        <p>Legend:</p>
        <p><br /></p>
        <p>CSV</p>
        <p><br /></p>
        <p>GIS VELMA</p>
    </div>
    <p>
    <div class="textbox">
        <p><br /></p>
        <p>Python</p>
    </div>
    <p>
    <p>Organic</p>
    <p>
    <p>Live Mass</p>
    <p>
    <p>Detritus</p>
    <p>
    <p>Humus</p>
    <p>
    <p>Figure 1. Process flow diagram of ratio (fractions) processing of “observed” above ground biomass (g / m²) to the
        final nitrogen (g / m²) spatial data pools for VELMA's initialization of disturbance events.</span></p>
    <p><span><img width="673" height="496" alt="image" src="Image_185.jpg" /></span></p>
    <p>Figure 2. Quality control check of Python script's dynamic conversions of “observed” above ground biomass (g /
        m²) to the final nitrogen (g / m²) spatial data pools. Conversion of biomass (g / m²) to the final nitrogen (g /
        m²) were made through an intermediate step of converting mass to carbon (g / m²), and then using different C to
        N ratios for each pool to calculate the final nitrogen pools. Fractions (ratios) of spatial pools change both in
        the positive and negative direction as a forest ages or increases in total biomass. Ratio pools can increases or
        decreases between stand age increments, and the calculations of these intermediate biomass observational values
        must reflect this dynamic nature of changing ratios between time steps. Intermediate values of biomass, those
        that land in between time step years, were therefore linearly interpolated between the time point bounds.
        Spatial map ASCII grid values for each of the 37 pools should then backward match ratio conversions and final C
        to N calculations to the original “observed” above ground biomass. (Only a partial list of pools is displayed
        here).</span></p>
    <p>Example: A mid biomass cell value at B10 = 3276 (g / m²) and is part way between stand age values at L9 and L10.
        It's above ground stem carbon mass fraction increases from 0.8609 (D9) to 0.8642 (D10). So its fraction stem
        mass (column D) should increase as its percentage difference moves from L9 towards LD10. Conversely, for all the
        other pool attributes, its percentage difference would increase as its fraction moves the opposite direction
        from rows 10 to rows 9.</span></p>