extends layout.pug
block content
    h1 Developer Utility Scripts 
    h2 Collection of helpful scripts to assist in working with VELMA.
    p Its intended audience is VELMA users.
    ul.blue-light
        li.nav-item
            a.nav-link(href='./AscMapOct_Guide.html')
                span Ascii Map Oct Guide 
        li.nav-item
            a.nav-link(href='./AscRangeMask_Guide.html')
                span Ascii Range Mask Guide
        li.nav-item
            a.nav-link(href='./MoeVelGenerator_Guide.html')
                span MOEA-to-VELMA Configuration Generator
        li.nav-item
            a.nav-link(href='./NashSutcliffeCalculator_Guide.html')
                span Tool for Computing Nash-Sutcliffe Coefficients
        li.nav-item
            a.nav-link(href='./NseQuarts_Guide.html')
                span NseQuarts Guide
        li.nav-item
            a.nav-link(href='./VelmaSimRunner_QuickRef.html')
                span VelmaSimRunner Quick Reference
        li.nav-item
            a.nav-link(href='./VelmaSimRunner.html')
                span VelmaSimRunner Full Guide