extends layout.pug
block content
    h1 Developer Info
    h2 Miscellaneous documents relating to VELMA and associated code development.
    p Its intended audience is VELMA developers, primarily the core development group.
    ul.blue-light
        li.nav-item
            a.nav-link(href='./GetVelma_ForEclipse.html')
                span Clone Github to Local Machine
        li.nav-item
            a.nav-link(href='./CellSpecificBurnDisturbance_Configuration_Guide.html')
                span Cell Specific Burn Disturbance Config Guide
        li.nav-item
            a.nav-link(href='./Configuration_Checker_Guide.html')
                span Configuration Checker Guide
        li.nav-item
            a.nav-link(href='./DefaultSedimentModel_Configuration_Guide.html')
                span Default Sediment Model Config Guide
        li.nav-item
            a.nav-link(href='./ForestBurnLsrDisturbanceModel_Overview.html')
                span Forest Burn LSR Disturbance Model
        li.nav-item
            a.nav-link(href='./JPDEM_ReachMapping_Demonstration.html')
                span JPDEM Reaching Mapping Demo
        li.nav-item
            a.nav-link(href='./MinMaxAirT_WeatherDrivers.html')
                span Min Max Air Temp Weather Drivers
        li.nav-item
            a.nav-link(href='./ModifySpatialDataByMap_Guide.html')
                span Modify Spatial Data by Map Guide
        li.nav-item
            a.nav-link(href='./ObsRunoff_and_NaNs.html')
                span OBS Runnoff and NaNs
        li.nav-item
            a.nav-link(href='./OrganicContaminant_Overview.html')
                span Organic Contaminant Overview
        li.nav-item
            a.nav-link(href='./OrganicContaminant_Remediation_Configuration_Guide.html')
                span Organic Contaminant Redemption Config Guide
        li.nav-item
            a.nav-link(href='./OrganicContaminant_Tracer_Configuration_Guide.html')
                span Organic Contaminant Tracer Config Guide
        li.nav-item
            a.nav-link(href='./ReachSpecificObservedRunnoff.html')
                span Reach Specific Observed Runnoff
        li.nav-item
            a.nav-link(href='./Sediment_Output_Data_Summary.html')
                span Sediment Output Data Summary
        li.nav-item
            a.nav-link(href='./SnowDepth_Initialization_Guide.html')
                span Snow Depth Initialization Guide