<p>Details of Specific File Formats</p>
    <p><span><img width="676" height="1" alt="image" src="Image_009.png" /></span></p>
    <p>Broadly speaking, the VELMA simulator needs two types of input or driver data: Spatial and Temporal. A spatial
        data value is something associated with a particular cell location. A temporal data value is something
        associated with a particular time step of a simulation run. Spatial data is nearly always input from files in
        ESRI Grid ASCII format (.asc), while temporal data is input from files with either comma- separated value format
        (.csv), or simple text files (.txt)</p>
    <p><br /></p>
    <div class="toc">ESRI Grid ASCII (.asc)<a 
            href="part9.htm">Comma-Separated Value (.csv)</a><a  href="part10.htm">Simple Text Files
            (.txt)</a></div>
    
            <p>ESRI Grid ASCII (.asc)</p>
            <p>A raster GIS file format specified by ESRI. See this Wikipedia article for an overview: “ESRI grid”</p>
            <p><a href="http://en.wikipedia.org/wiki/ESRI_grid">http://en.wikipedia.org/wiki/ESRI_grid</a></p>
            
    <p>Comma-Separated Value (.csv)</p>
    <p>An informal, de-facto standard format that represents tabular data in a file as a sequence of lines (rows) of
        comma-separated values (columns). There is no formal standard for CSV data, but good overviews are provided by
        this Wikipedia article:</p>
    <p><a href="http://en.wikipedia.org/wiki/Comma-separated_value" target="_blank">“Comma-separated values”
        </a><span>http://en.wikipedia.org/wiki/Comma-separated_value</span> <span>And this RFC document:</span></p>
    <p><a href="http://tools.ietf.org/html/rfc4180" target="_blank">“RFC 4180 - Common Format and MIME Type for
            Comma-Separated Values (CSV) Files” </a><a href="http://tools.ietf.org/html/rfc4180"
            target="_blank">http://tools.ietf.org/html/rfc4180</a></p>
    <p><br /></p>

    <p>Simple Text Files (.txt)</p>
    <p>These are plain-text files of the sort created by Microsoft's Text Editor, or by saving a Microsoft Word document
        as “Plain Text”.</p>

    