<p>IV. Required Input Data Files for VELMA Simulations</p>
    <p><span><img width="680" height="1" alt="image" src="Image_006.png" /></span></p>
    <p>The primary input file for a given simulation run is an XML file of initialization parameters known as the <a
            href="part6.htm#bookmark0">simulator configuration file</a><span>1</span><i> </i>(often abbreviated as the
        “simconfig” or “the XML” file). In addition to the simulator configuration file, the following data files must
        be complete and available for the VELMA Simulator to run:</p>
    <p><br /></p>
    <table cellspacing="0">
        <tr>
            <td>
                <p>FILE</p>
            </td>
            <td>
                <p>TYPE</p>
            </td>
            <td>
                <p>CONTAINS</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Flat-Processed DEM</p>
            </td>
            <td>
                <p>Spatial / Grid ASCII (.asc)</p>
            </td>
            <td>
                <p>Elevation in meters</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Cover Species ID Map</p>
            </td>
            <td>
                <p>Spatial / Grid ASCII (.asc)</p>
            </td>
            <td>
                <p>Cover Species ID integers</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Cover Species Age Map</p>
            </td>
            <td>
                <p>Spatial / Grid ASCII (.asc)</p>
            </td>
            <td>
                <p>Cover Species age in years</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Soil Parameters ID Map</p>
            </td>
            <td>
                <p>Spatial / Grid ASCII (.asc)</p>
            </td>
            <td>
                <p>Soil Parameterization ID integers</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Precipitation Driver Data</p>
            </td>
            <td>
                <p>Temporal / (.csv or .txt)</p>
            </td>
            <td>
                <p>Precipitation per in mm</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Air Temperature Driver Data</p>
            </td>
            <td>
                <p>Temporal / (.csv or .txt)</p>
            </td>
            <td>
                <p>Air Temperature in degrees C</p>
            </td>
        </tr>
    </table>
    <p>If your simulation is using the optional spatially-explicit weather model, the following files must also be
        complete and available:</p>
    <p><br /></p>
    <table cellspacing="0">
        <tr>
            <td>
                <p>FILE</p>
            </td>
            <td>
                <p>TYPE</p>
            </td>
            <td>
                <p>CONTAINS</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Head Index Map</p>
            </td>
            <td>
                <p>Spatial / ESRI Grid ASCII (.asc)</p>
            </td>
            <td>
                <p>Heat index values</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Precipitation Coefficients</p>
            </td>
            <td>
                <p>Tabular (.csv)</p>
            </td>
            <td>
                <p>Coefficient values</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Air Temperature Coefficients</p>
            </td>
            <td>
                <p>Tabular (.csv)</p>
            </td>
            <td>
                <p>Coefficient values</p>
            </td>
        </tr>
    </table>
    <p>Finally, the following files are not required for the VELMA Simulator to run, but providing them for a simulation
        run is recommended. Their availability allows the simulator to provide more run-time information and some
        additional results data. (E.g. The VELMA Simulator can only compute a Nash- Sutcliffe coefficient value for a
        simulation run's runoff data if the Observed Runoff data file was provided as part of the input data).</p>
    <p><br /></p>
    <table cellspacing="0">
        <tr>
            <td>
                <p>FILE</p>
            </td>
            <td>
                <p>TYPE</p>
            </td>
            <td>
                <p>CONTAINS</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Observed Runoff</p>
            </td>
            <td>
                <p>Temporal (.csv or .txt)</p>
            </td>
            <td>
                <p>Observed runoff in mm</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Observed Stream Chemistry</p>
            </td>
            <td>
                <p>Temporal Tabular (.csv)</p>
            </td>
            <td>
                <p>Observed chemistry values</p>
            </td>
        </tr>
    </table>
    <p><br /></p>
    <p><span><img width="192" height="1" alt="image" src="Image_007.png" /></span></p>
    <p>1 “Simulator Configuration” and “Simulation Configuration” are both used as the
        term for this primary file. The former emphasizes the fact that the file's contents configure the simulator,
        while the latter emphasizes the (equally true) fact that the file's contents form a particular configuration of
        a given simulation scenario.</span></p>
    <p>The Simulator Configuration file specifies the Names of all other input data files.
    </p>
    <p>When you run a VELMA Simulation, the simulator engine is given the simulator configuration file. The first thing
        the simulator engine does is initialize itself, using the key-value pairs in the file. Each of the required or
        optional files mentioned above is present as a key-value pair in the simulator configuration file.</p>
    <p><br /></p>
    <table cellspacing="0">
        <tr>
            <td>
                <p>FILE</p>
            </td>
            <td>
                <p>CONFIGURATION ID KEY</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Flat-Processed DEM</p>
            </td>
            <td>
                <p>/calibration/VelmaInputs.properties/input_dem</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Cover Species ID Map</p>
            </td>
            <td>
                <p>/calibration/VelmaInputs.properties/coverSpeciesIndexMapFileName</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Cover Species Age Map</p>
            </td>
            <td>
                <p>/calibration/VelmaInputs.properties/coverAgeMapFileName</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Soil Parameters ID Map</p>
            </td>
            <td>
                <p>/calibration/VelmaInputs.properties/soilParametersIndexMapFileName</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Precipitation Driver Data</p>
            </td>
            <td>
                <p>/weather/SpatialWeatherModel/rainDriverDataFileName</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Air Temperature Driver Data</p>
            </td>
            <td>
                <p>/weather/SpatialWeatherModel/airTemperatureDriverDataFileName</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Head Index Map</p>
            </td>
            <td>
                <p>/weather/SpatialWeatherModel/heatIndexMapFileName</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Precipitation</p>
                <p>Coefficients</p>
            </td>
            <td>
                <p>/weather/SpatialWeatherModel/rainCoefficientDataFileName</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Air Temperature</p>
                <p>Coefficients</p>
            </td>
            <td>
                <p>/weather/SpatialWeatherModel/airTemperatureCoefficientsDataFileName</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Observed Runoff</p>
            </td>
            <td>
                <p>/calibration/VelmaInputs.properties/input_runoff</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Observed Stream</p>
                <p>Chemistry</p>
            </td>
            <td>
                <p>/calibration/VelmaInputs.properties/input_stream_chem</p>
            </td>
        </tr>
    </table>
    <p>ID keys for required input data files <i>must </i><a href="part6.htm#bookmark2">have the name of an existing,
            valid and readable file</a><a href="part6.htm#bookmark2">2</a></p>
    <p>specified, while optional input data files ID keys may be left blank.</p>
    <p><br /></p>
    <p><span><img width="192" height="1" alt="image" src="Image_008.png" /></span></p>
    <p>2 Sometimes just the name and extension of the file will do, sometimes the
        fully-specified path must be included as part of the name, and sometimes the path is optional. This
        unfortunately-confusing state of affairs exists due the history of the Simulator's development. For the input
        data files discussed here, supply only the name and extension as an ID Key's value.</span></p>
    <p>The Simulator Configuration file specifies the Location of all other input data
        files.</p>
    <p>The simulation configuration specifies the location of a directory (a.k.a. “folder”) and the VELMA simulator
        engine looks in that directory for the input data files specified by the appropriate ID Keys (as listed in the
        previous table). The simulation configuration uses two, separate ID Keys to specify one fully-qualified path +
        directory name:</p>
    <p><br /></p>
    <table cellspacing="0">
        <tr>
            <td>
                <p>Location Path</p>
            </td>
            <td>
                <p>/startups/VelmaStartups.properties/inputDataLocationRootName</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Directory Name</p>
            </td>
            <td>
                <p>/startups/VelmaStartups.properties/inputDataLocationDirName</p>
            </td>
        </tr>
    </table>
    <p>The fully-qualified location of input data files is <b>Location Path </b>+ “/” + <b>Directory Name</b>. For
        example, the following ID Key values:</p>
    <p><br /></p>
    <table cellspacing="0">
        <tr>
            <td>
                <p>ID Key</p>
            </td>
            <td>
                <p>Value</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>/startups/VelmaStartups.properties/inputDataLocationRootName</p>
            </td>
            <td>
                <p>C:/MyVELMA_InputData</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>/startups/VelmaStartups.properties/inputDataLocationDirName</p>
            </td>
            <td>
                <p>LittleMtn_Watershed</p>
            </td>
        </tr>
    </table>
    <p>… indicate that the VELMA simulator should look for input data files in this directory:</p>
    <p>C:\MyVELMA_InputData\LittleMtn_Watershed</p>
    <p><br /></p>
    <div class="textbox">
        <p>IMPORTANT NOTE</span></p>
        <p>The example above uses Microsoft Window file system “back slash” separators, however you should</span>
            </span>ALWAYS use “forward slash” (a.k.a. Unix-style) separators when specifying path name values for
            the</span> </span>simulator configuration's ID Keys.</span></p>
    </div>
    <p />
    <p>Given the fully-qualified input data location in the example above, suppose the LittleMtn_Watershed's DEM file
        name (for ID Key /calibration/VelmaInputs.properties/input_dem</span>) was specified as:
        LittleMtn_30m_DEM.asc</span></p>
    <p>The VELMA simulator would attempt to open and read elevation data from the file:</p>
    <p>C:\MyVELMA_InputData\LittleMtn_Watershed\LittleMtn_30m_DEM.asc</p>
    <p><br /></p>
    <div class="toc"><a  href="part7.htm">Details of Specific File Formats</a><a class="toc1"
            href="part8.htm">ESRI Grid ASCII (.asc)</a><a class="toc1" href="part9.htm">Comma-Separated Value
            (.csv)</a><a class="toc1" href="part10.htm">Simple Text Files (.txt)</a><a 
            href="part11.htm">Details of Specific Input Data Files</a><a class="toc1" href="part12.htm">The
            Flat-Processed DEM File</a><a class="toc1" href="part13.htm">The Cover Species ID Map File</a><a
            class="toc1" href="part14.htm">The Cover Species Age Map File</a><a class="toc1" href="part15.htm">The Soil
            Parameters ID Map File</a><a class="toc1" href="part16.htm">The Precipitation Driver Data File</a><a
            class="toc1" href="part17.htm">The Air Temperature Driver Data File</a><a class="toc1" href="part18.htm">The
            Heat Index Map File</a><a class="toc1" href="part19.htm">The Precipitation Coefficients File</a><a
            class="toc1" href="part20.htm">The Air Temperature Coefficients File</a><a class="toc1"
            href="part21.htm">The Observed Runoff Data File</a><a class="toc1" href="part22.htm">The Observed Stream
            Chemistry Data File</a></div>

    
    <p>The Flat-Processed DEM File</p>
    <p>A spatial data file (.asc) containing elevation values (in meters) for every cell in the simulation area. The
        term “Flat-Processed” indicates that the contents of the file have been pre-processed by the JPDEM
        flat-processing utility. The DEM file is the “master” film for a simulation run: all other spatially- explicit
        data is assumed to have the same row, column, cell size and x, y offset values as the DEM file.</p>
    <p><br /></p>
    <p>See “Appendix 7: Creating Flat-Processed DEM Data For The VELMA Simulator and Determining</span> </span>Outlet
        and Watershed Delineation” for details on the use of the JPDEM.jar program to flat process a</span> </span>DEM
        file.</span></p>