<div>
<p>The Flat-Processed DEM File</p>
    <p>A spatial data file (.asc) containing elevation values (in meters) for every cell in the simulation area. The
        term “Flat-Processed” indicates that the contents of the file have been pre-processed by the JPDEM
        flat-processing utility. The DEM file is the “master” film for a simulation run: all other spatially- explicit
        data is assumed to have the same row, column, cell size and x, y offset values as the DEM file.</p>
    <p><br /></p>
    <p>See “Appendix 7: Creating Flat-Processed DEM Data For The VELMA Simulator and Determining</span> </span>Outlet
        and Watershed Delineation” for details on the use of the JPDEM.jar program to flat process a</span> </span>DEM
        file.</span></p>
</div>
<div>
    <p>The Cover Species ID Map File</p>
    <p>A spatial data file (.asc) containing cover species ID numbers for every cell in the simulation area. The ID
        numbers must be integers, and must correspond to one or more of the simulator configuration's</p>
    <p>/cover/…/uniqueId ID Key values.</span></p>
</div>
<div>
    <p>The Cover Species Age Map File</p>
    <p>A spatial data file (.asc) containing ages (in years) for every cell in the simulation area. The age of a given
        cell in the file represents that cell's cover species' age in years at the simulation start year (specified in
        the simulator configuration by the /calibration/VelmaInputs.properties/syear </span>ID Key's value).</p>
</div>

<div>
    <p>The Soil Parameters ID Map File</p>
    <p>A spatial data file (.asc) containing Soil Parameterization ID numbers for every cell in the simulation area. The
    ID numbers must be integers, and must correspond to one or more of the simulator configuration's
    /soil/…/uniqueId </span>ID Key values .</p>
</div>
<div>
    p>The Precipitation Driver Data File</p>
    <p>A temporal data file containing a rain value in millimeters for each day of the simulation.</p>
    <p>The data is formatted as one value per line in the file, and the file should have as many lines as there are days
        between the simulator configuration's specified forcing_start </span>and forcing_end </span>values.</p>
    <p>For example, if the simulation configuration has the following values specified:</p>
    <table>
        <tr>
            <td>
                <p>ID Key</p>
            </td>
            <td>
                <p>Value</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>/calibration/VelmaInputs.properties/forcing_start</p>
            </td>
            <td>
                <p>2000</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>/calibration/VelmaInputs.properties/forcing_end</p>
            </td>
            <td>
                <p>2001</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>/weather/SpatialWeatherModel/rainDriverDataFileName</p>
            </td>
            <td>
                <p>MyRainData.csv</p>
            </td>
        </tr>
    </table>
    <p>… the VELMA simulator will expect the file MyRainData.csv to contain exactly 731 lines of data (366 days + 365
        days for years 2000 + 2001) one value per line. The first five lines of the file might look like this:</p>
    <p><br /></p>
    <div class="textbox">
        <p>29.6500000</p>
        <p>67.1500000</p>
        <p>14.4000000</p>
        <p>28.3250000</p>
        <p>33.4000000</p>
        <p>[ … ]</p>
    </div>
    <p>
    <p>Notice that although MyRainData.csv is a .csv (comma-separated values) file, it has no header row, and no commas
        (because there is only one “column” of data). Notice also that there is leading whitespace in front of the data
        values; leading whitespace is not required, and is ignored.</p>
    <p><br /></p>
    <p>Because there is no difference between a single-column, no-header-row, comma-separated values (.csv) file, and a
        simple plain text (.txt), the VELMA simulator will accept either a .csv or .txt file extension for the
        precipitation driver file, although the .csv extension is preferred.</p>
</div>

<div>
    <p>The Air Temperature Driver Data File</p>
    <p>A temporal data file containing a value in centigrade for mean daily temperature (i.e., the average of daily Tmin
        and Tmax) for each day of the simulation. The data is formatted according to the same rules as the precipitation
        driver data file; one value per line, one line per possible simulation day.</p>
</div>
<div>
    <p>The Heat Index Map File</p>
    <p>A spatial data file (.asc) containing a heat index value for every cell in the simulation area. The heat index
        value is computed from elevation, slope and other factors.</p>
    <p>The Heat Index Map File is only required when the spatially-explicit weather model is used. Otherwise, the file
        may be left unspecified in the simulator configuration.</p>
</div>

<div>
    <p>The Precipitation Coefficients File</p>
    <p>A comma-separated values (.csv) file containing a table of coefficients for the spatial weather model's
        precipitation equation. The file must contain 13 rows of 6 comma-separated values (columns) each.</p>
    <p>The first row is a header row, and the remaining 12 rows provide values for the equation's a, b, c, d and e
        coefficients for each month of the year.</p>
    <p>Here is an example table of values:</p>
    <p><span><img width="486" height="280" alt="image" src="Image_011.gif" /></span></p>
    <p>and here are the lines from the corresponding .csv data file:</p>
    <p><br /></p>
    <div class="textbox">
        <p>month,a,b,c,d,e</p>
        <p>1,259.751,0.011833,5.24E-05,-3.94717,-0.09685</p>
        <p>2,241.5404,0.006131,6.10E-05,-5.15183,0.892817</p>
        <p>3,210.8037,0.037236,4.62E-05,-4.20577,0.951439</p>
        <p>4,96.40946,0.080534,7.44E-06,-1.44569,1.250961</p>
        <p>5,88.34944,0.014202,3.06E-05,-0.20094,1.259266</p>
        <p>6,53.51838,0.048195,9.53E-06,0.873204,1.297879</p>
        <p>7,13.08702,0.023576,2.49E-06,0.686924,0.685529</p>
        <p>8,21.89397,7.78E-05,6.23E-06,-0.00893,0.199088</p>
        <p>9,70.03036,0.007598,2.39E-05,-0.00868,0.959202</p>
        <p>10,124.4332,-0.00302,3.59E-05,-1.16562,0.890761</p>
        <p>11,316.075,0.072349,4.32E-05,-4.40543,1.247633</p>
        <p>12,290.7049,0.034712,4.62E-05,-4.46288,0.495517</p>
    </div>
    <p>
    <p>The Precipitation Coefficients File is only required when the spatially-explicit weather model is used.
        Otherwise, the file may be left unspecified in the simulator configuration.</p>
    <p><br /></p>
</div>

<div>
    <p>The Air Temperature Coefficients File</p>
    <p>A comma-separated values (.csv) file containing a table of coefficients for the spatial weather model's air
        temperature equation. The file must contain 13 rows of 10 comma-separated values (columns) each. The first row
        is a header row, and the remaining 12 rows provide values for the equation's a,..,j and x coefficients for each
        month of the year.</p>
    <p>Here is an example table of values:</p>
    <p><span><img width="622" height="222" alt="image" src="Image_012.gif" /></span></p>
    <p><br /></p>
    <p>and here are the lines from the corresponding .csv data file:</p>
    <p><br /></p>
    <div class="textbox">
        <p>month,b,c,d,e,g,h,i,j,x</p>
        <p>1,0.007047,0.018444,2.75E-06,-1.12696,-0.00434,0.012177,-1.60E-05,6.606466,679.15</p>
        <p>2,0.006148,0.065628,2.75E-06,1.024448,-0.00545,0.037565,-1.50E-05,8.958362,684.28</p>
        <p>3,0.001492,0.041412,1.47E-06,5.402304,-0.00656,0.039723,-5.70E-06,11.03547,699.67</p>
        <p>4,-0.00239,0.053357,2.53E-07,10.24696,-0.00697,0.043574,6.13E-06,13.99039,818.03</p>
        <p>5,0.004219,0.059169,1.86E-06,8.916032,-0.00707,0.056038,-1.20E-05,16.80074,698.66</p>
        <p>6,-0.00222,0.046785,-1.30E-06,16.98087,-0.00684,0.078366,1.33E-05,20.81386,827.75</p>
        <p>7,-0.00123,0.004955,-2.50E-06,19.38073,-0.00633,0.073345,-1.90E-06,23.54351,814.57</p>
        <p>8,-0.00023,0.00407,-2.60E-06,18.81907,-0.00585,0.092057,9.03E-06,23.53079,836.26</p>
        <p>9,0.001476,-0.0342,-2.30E-06,14.80655,-0.00612,0.047614,7.60E-06,20.83291,791.89</p>
        <p>10,-0.00023,0.018716,-1.20E-06,11.70249,-0.00641,0.112236,-8.60E-06,16.77907,819.27</p>
        <p>11,0.002002,0.014029,-2.60E-07,3.771477,-0.00556,0.027117,-1.40E-05,9.412401,745.95</p>
        <p>12,0.00697,0.047469,2.59E-06,-1.28579,-0.00399,0.007256,-1.70E-05,6.096779,674.34</p>
    </div>
    <p>
    <p>The Air Temperature Coefficients File is only required when the spatially-explicit weather model is used.
        Otherwise, the file may be left unspecified in the simulator configuration.</p>

</div>
<div>
    <p>The Observed Runoff Data File</p>
    <p>An (optional, but recommended) temporal data file containing a runoff value in millimeters for each day of the
        simulation. The data is formatted according to the same rules as the precipitation driver data file; one value
        per line, one line per possible simulation day. The VELMA simulator engine can run without an observed runoff
        data file, but the Nash-Sutcliffe coefficient value automatically computed as part of the simulation results
        will be invalid if the observed runoff data is unavailable.</p>
</div>

<div>
    <p>The Observed Stream Chemistry Data File</p>
    <p>An optional temporal data file containing observed DON, NH4</span>, DOC and NO3 </span>loss values for each day
        of the simulation. The data is formatted as four comma-separated values per line, one line per possible
        simulation day. The first five lines of an observed stream chemistry data file might look like this:</span></p>
    <div class="textbox">
        <p>0.000409543,7.73582E-05,0.013059883,9.10096E-06</p>
        <p>4.76427E-05,9.52854E-06,0.002572705,0</p>
        <p>9.50966E-05,2.8529E-05,0.006276374,4.75483E-06</p>
        <p>4.76506E-05,4.76506E-06,0.002001324,0</p>
        <p>4.76506E-05,4.76506E-06,0.001620119,0</p>
        <p>[ … ]</p>
    </div>
    <p>
    <p>In this example snippet, the first day's observed loss values would be:</p>
    <p>DON = 0.000409543</p>
    <p>NH4 </span>= 7.73582E-05 DOC = 0.013059883 </span>NO3 </span>= 9.10096E-06</p>
    <p>Note that, like the Observed Runoff data file, there is no header row (initial line of column header titles) in
        the observed stream chemistry file.</p>
</div>