extends layout.pug
block content
    h1 I. Introduction
    
    h2 1.1. Application of VELMA to Various Ecosystems
    p VELMA's hydrological and biogeochemical submodels have been verified for simulating the effects of changes in climate and land use on streamflow, stream chemistry, and ecosystem carbon and nitrogen dynamics
        a(href="#ref-1") [1];
        a(href="ref-2") [2].
    p To date, we have calibrated VELMA for a wide range of major ecosystem types across North America, focusing primarily on data-rich sites in the National Science Foundation's Long Term Ecological Research
        a(href="http://www.lternet.edu/lter-sites") (LTER) network.
    p These ecosystem types include temperate forest LTER sites in Oregon, New Hampshire, and North Carolina; the Konza Prairie LTER in Kansas; agricultural watersheds in the Chesapeake Bay and Willamette River Basin; and the arctic tundra LTER in Alaska.    
    h2 1.2. Decision Support
    p We developed VELMA to help support two recent sustainability initiatives by the EPA Office of Research and Development: the Safe and Sustainable Waters Research Program (SSWR) and the Sustainable and Healthy Communities Research Program (SHC). Our goal is to provide comprehensive decision support tools that can help communities, tribes, land managers and policy makers address present needs without compromising the ability of society and the environment to meet the economic, social and environmental needs of future generations. Key decision support goals are to (1) assess the effectiveness of natural and engineered green infrastructure for protecting water quality of streams and estuaries, and (2) quantify the ecosystem goods and services that ecosystems provide for humans. VELMA was recently redesigned (version 2.0, described herein) to better address both these goals. Green infrastructure (GI) involves the establishment of riparian buffers (streamside vegetation), cover crops constructed wetlands, and other measures to intercept, store and transform nutrients, toxics and other contaminants that might otherwise reach surface and ground waters. GI enhancements have also strengthened model capabilities for quantifying how alternative land use and policy scenarios affect tradeoffs among important ecosystem services - that is, the capacity of an ecosystem to provide clean water, flood control, food and fiber, climate (greenhouse gas) regulation, fish and wildlife habitat, among others (Millennium Ecosystem Assessment 2005). Model development has been guided by the principle of parsimony to enable VELMA to efficiently address multiple spatial and temporal scales - plots to basins, days to centuries.
    a(href="http://eco.confex.com/eco/2012/webprogram/Paper37040.html") (Millennium Ecosystem Assessment 2005).
    p While VELMA has already proven useful for quantifying how such ecosystem services interact and respond in concert to 
    a(href="http://eco.confex.com/eco/2012/webprogram/Paper37040.html") environmental changes
    a(href="http://eco.confex.com/eco/2010/techprogram/P25975.HTM") it is important to also quantify the economic and social impacts associated with such changes.
    p Therefore, we are collaborating with Oregon State University to link VELMA with ENVISION, a well-established decision support tool that integrates landscape GIS layers, ecological models, economic valuation models, and user-defined stressor scenarios.
    a(href="http://envision.bioe.orst.edu/") The recently completed Envision-VELMA linkage is described in our SHC 2.1.4.2 product for September 2014.
    a(href="http://www.thesolutionsjournal.com/node/1019") Link text.
    p Willamette River Basin in Oregon to examine how alternative scenarios (2010 - 2060) of land use and human population growth affect "bundled"; ecosystem services. This work examines the capacity of the landscape to support projected increases in human populations under alternative growth plans (smart growth, unmanaged growth, and status quo) and consequent trade-offs in provisioning of agricultural and forest products, clean supplies of water, carbon sequestration, and habitat for wildlife populations.
    a(href="http://www.thesolutionsjournal.com/node/1019") Bolte et al. in review; Bolte et al. 2011
    h2 1.3. Products and Impacts
    p The major product of this research will be a set of broadly applicable decision support tools that enable communities, client offices and other stakeholders to:
    ol 
        li Assess the effectiveness of green infrastructure options for protecting water quality.
        li Quantify tradeoffs among ecosystem goods and services associated with alternative land use decision scenarios. 
        li Generate community sustainability indicators and their trajectories to help communities balance environmental, economic and social criteria over timescales relevant to immediate needs and long-term (decades to centuries) planning goals.
    p Using a participatory planning and outreach approach that integrates researchers, stakeholders and decision makers, we will address several questions pertinent to community sustainability:
    ul
        li Can methodologies be developed to quantify and value ecosystem services, so that this natural capital can be better accounted for in decisions that affect the supply of the goods and services upon which human well-being depends?
        li What are the uncertainties associated with various decision options? Is there an optimal “decision path” for restoring the natural capital needed to sustainably support communities dependent on resource-based economies, such as the agricultural, forest, and fishing industries?
        li Can those factors that have the greatest potential to improve future trajectories of ecosystem services andhuman well-being be identified?
            li For example, what green and grey infrastructure improvements, carbon and nitrogen management practices, and growth and development policies can most effectively be managed to attain a sustainable and desirable future?
    p The linkage of VELMA and ENVISION is intended to provide stakeholders with a user-friendly, visual interface for exploring the consequences of alternative climate and land use scenarios on ecosystem service tradeoffs.
    p Outputs will be computer-generated visualizations of predicted changes in multiple ecosystem services, both in biophysical and economic terms. Our overall goal is to provide a framework for integrated assessments that identify policy and management strategies for entire ecosystems and the bundled services they provide, rather than piecemeal assessments of individual services.
    footer 
    p References
        ol 
            li#ref-1
                a(href="http://onlinelibrary.wiley.com/doi/10.1029/2010WR010165/full") Abdelnour, A., M. Stieglitz, F. Pan, and R. McKane (2011) Catchment hydrological responses to forest harvest amount and spatial pattern, <i>Water Resources Research</i>, 47, W09521, doi:10.1029/2010WR010165. 
            li#ref-2
                a(href="http://onlinelibrary.wiley.com/doi/10.1029/2012WR012994/full") Abdelnour, A., R. McKane, M. Stieglitz, F. Pan, and Y. Cheng (2013) Effects of harvest on carbon and nitrogen dynamics in a Pacific Northwest forest catchment, <i>Water Resources Research</i>, 49, doi:10.1029/2012WR012994.
            li Abdelnour, A., R. McKane, M. Stieglitz and F. Pan. Catchment biogeochemical responses to forest harvest amount and spatial pattern. Submitted to <i>Water Resources Research.</i>
            li Bolte, J., R. McKane, D. Phillips, N. Schumaker, D. White, A. Brookes, C. Burdick and D. Olszyk (in review), An extensible decision support system for evaluating ecosystem services under alternative future scenarios - a Willamette River Basin case study. EPA publication number ORD-002136
            li Bolte, J., R. McKane, D. Phillips, N. Schumaker, D. White, A. Brookes, and D. Olszyk (2011) In Oregon, the EPA calculates nature's worth now and in the future. <i>Solutions </i>2(6): 35-41.
            li McKane, R., A. Abdelnour, A. Brookes, C. Burdick, K. Djang, T.E. Jordan, B. Kwiatkowski, F. Pan, W.T. Peterjohn, M. Stieglitz and D.E. Weller (2012) Identifying green infrastructure BMPs for reducing nitrogen export to a Chesapeake Bay agricultural stream: model synthesis and extension of experimental data. <i>The Ecological Society of America 97th Annual Meeting</i>, Portland, OR, August 2012.
            li McKane, R., M. Stieglitz, A. Abdelnour, F. Pan, B. Bond, S. Johnson (2010) An integrated eco-hydrologic modeling framework for assessing the effects of interacting stressors on multiple ecosystem services. <i>The Ecological of America 95th Annual Meeting</i>, Pittsburgh, PA, August 2010.
            li MEA, Millennium Ecosystem Assessment (2005) Ecosystems and human well-being: synthesis. Island, Washington, DC.
            li a(href="http://www.lternet.edu/lter-sites")
