doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(name='charset', content='utf-8')
    script(src='/style.css')
    title #{pageTitle} 
    body
      include partials/_nav
      block content
    footer#footer
      p VELMA 2.2 DOCUMENTATION
//-   <meta charset="utf-8">
//-   <meta name="viewport" content="width=device-width,initial-scale=1">
//-   <title><%= title %></title>
//-   <link rel="stylesheet" href="/stylesheets/style.css">
//- </head>
//- <body>