doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(name='charset', content='utf-8')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    script(src="https://requirejs.org/docs/release/2.3.7/minified/require.js") 
    script(src="js/search.js" type='module') 
    title #{pageTitle} 
  body.bg-primary
    div.header.blue-base
      include partials/_nav 
      include partials/_search
    div.main_body.container
      block content
  footer#footer
    p VELMA 2.2 DOCUMENTATION