extends layout.pug
block content
  h1 LCCM-to-VELMA Translator Utility
  include partials/_warning

  h2 Overview

  p The LCCM-to-VELMA (“L2V”) Translator utility automates some of the steps required to generate a modifications .csv file for a Modify Landcover disturbance to use as driver data.
  p The L2V Translator requires its own set of driver data files as input Some of these are provided directly by LCCM output, and others must be created based on the LCCM output. All the files the L2V Translator requires must exist and be specified to the LV2 Translator via the L2V Translator's own “configInfo.csv” file when the L2V Translator is run.
  p The L2V Translator can generate modification data for the LCCM output data from a single simulation date or for multiple simulation dates depending upon whether it is run in “single-date” or “multi-date” mode.
  p The 
    <code>--multidate</code>  command-line argument flag specifies which mode is use:
  table
    thead
      tr
        th
          <code>--multidate</code>  set?
        th configInfo specifies …
        th generates driver data file for …
    tbody
      tr
        td NO (single-date)
        td LCCM map and table files for one simulation date
        td
          <code>ModifyLandcoverDisturbanceModel</code>
      tr
        td YES (multi-date)
        td Locations of LCCM map and table files for multiple simulation dates
        td
          <code>ModifyLandcoverMultiDateDisturbanceModel</code>
  p L2V multi-date mode can be thought of as a way to automate calling the L2V Translator multiple times in single-date mode. Instead of preparing multiple single-date configInfo.csv files, you only have to prepare one multi-date configInfo.csv file (and ensure all the necessary Lccm modification .asc map and .csv table files are in the locations specifed by the multi-date configInfo.csv file).
  h2 Running the L2V Translator Utility
  h3 Invoking the L2V Translator
  p Currently, the L2V Translator is only available as a command-line utility, accessible from VELMA's JVelma .jar file.
  p If you invoke the L2V Translator utility without any arguments, it prints a usage message, and does nothing else. Here is an example using Windows PowerShell:
  pre
    code
      | 
      | PS C:\Users\Me> java -Xmx1g -cp C:\Users\Me\VELMA\JVelma.jar gov.epa.velmasimulator.LccmTranslatorCmdLine
      | VELMA_2.2.0.0
      | Usage: LccmTranslatorCmdLine &lt;fullName_configInfo.csv&gt; [--kv="&lt;key&gt;,&lt;val&gt;"] [--list]
      | Where:
      | 
      | Required arguments are:
      | 
      |   &lt;fullName_configInfo.csv&gt;
      |     The fully-qualified path and name of a comma-separated-values (.csv) file.
      |     The file contains the parameter,value pairs that configure the translator.
      |     Exactly ONE configInfo csv file fullName must appear in the command line.
      | 
      | Optional arguments are:
      | 
      |   --kv="&lt;key&gt;,&lt;val&gt;"
      |     &lt;key&gt; is the name of an LccmTranslator configuration parameter.
      |     &lt;val&gt; is the value to set for that &lt;key&gt;.
      |     Multiple --kv arguments may occur in the command line.
      |     No two --kv arguments may specify the same &lt;key&gt;
      |     The --kv pairs are set or added to the LccmTranslator during initialization.
      |     The original fullName_configInfo.csv file is NOT modified.
      |     A --kv argument overrides the value for the same parameter (if specified),
      |     in the fullName_configInfo.csv file.
      |     A --kv argument with an invalid key (i.e. parameter name) is ignored.
      |     A --kv argument with an invalid value will cause an error.
      | 
      |   --multidate
      |     Indicates &lt;fullName_configInfo.csv&gt; contains paramter,value pairs for building
      |     a Multi-Date formatted modifications driver data file from multiple map and table
      |     input files.
      | 
      |   --list
      |     Prints a complete list of configInfo parameter key names to the console.
      |     When this option is specified, no results or files are created.
      | 
      | L2V Log CONFIG 2024-10-02 13:28:21 LccmTranslatorCmdLine: Missing required command line arguments.
      | PS C:\Users\Me>
      
  blockquote
    p
      strong
      em Note:  the first line of the LccmTranslatorCmdLine's usage message identifies the .jar file's VELMA version. Your command line may display a different version than the example above.
  blockquote
    p
      strong
      em Note:  the last line of the LccmTranslatorCmdLine's usage message might look ominous, but it's simply the LccmTranslator telling you that it cannot proceed unless the required argument (a configInfo.csv file) is provided as part of the command line.
  p As the usage message above shows, running the L2V Translator “for real” requires specifying a .csv file containing configuration data. Optionally, you may also include one or more 
    <code>--kv=...</code>  arguments, and the 
    <code>--multidate</code>  argument to switch the L2V Translator into multi-date mode.
  p
    strong An Example: This command line invokes the L2V Translator with a multi-date configInfo.csv file, and overrides the 
    <code>resultsFileName</code>  parameter's value:
  pre.hljs
    code. 
      PS C:\Users\Me> java -Xmx1g -cp C:\Users\Me\VELMA\JVelma.jar gov.epa.velmasimulator.LccmTranslatorCmdLine `
      C:Users\Me\L2v\mdConfig.csv `
      --multiDate &#96
      --kv="resultsFileName,C:\Users\Me\md_modifyData.csv"
      
  blockquote
    p
      em <strong>Note:</strong>  The command line above is broken into multiple lines to emphasize each argument passed to the LccmTranslatorCmdLine. Each line ends in a &lt;space&gt;&lt;backtick&gt; character sequence, the Microsoft Powershell “line continuation” indicator. The above example could really be typed into a Powershell console as multiple “line continued” lines. Linux console shells provide the same line-continuation feature, but use different syntax. Consult your shell documentation if you are running on Linux.
  h3 The L2V's Configuration Parameters
  p The 
    <code>fullname_configInfo.csv</code>  contains the information about the LCCM data files (for single-date mode) or data locations (for multi-date mode) that the L2V Translator uses as input.
  p Add the 
    <code>--list</code>  argument to an L2V Translator command line to see a list of the parameter key names that can be set in an L2V configInfo.csv file. The 
    <code>--list</code>  argument is context-sensitive: when the 
    <code>--multidate</code>  argument is also specified, the list will be for an L2V multi-date configInfo.csv file. Otherwise, it will be for an L2V single-date configInfo.csv file. When the 
    <code>--list</code>  argument is included on an L2V Translator command line, the L2V Translator ignores any other argumenets, and performs actions apart from listing the relevant parameter key names.
  h4 L2V Single-Date Configuration Parmeters
  p This Windows PowerShell example shows L2V single-date 
    <code>--list</code>  output:
  pre.hljs
    code. 
      PS C:\Users\Me> java -Xmx1g -cp C:\Users\Me\VELMA\JVelma.jar gov.epa.velmasimulator.LccmTranslatorCmdLine --list
      Valid LccmTranslator configInfo Parameter Key Names
      (Replace placeholder "???" text with valid values.)
      coverMapFileName,???
      coverLastMapFileName,???
      coverTableFileName,???
      soilMapFileName,???
      soilLastMapFileName,???
      soilTableFileName,???
      ageMapFileName,???
      ageLastMapFileName,???
      ageTableFileName,???
      resultsFileName,???
      yearPrefix,???
      jdayPrefix,???
      appendResults,???
      PS C:\Users\Me>
      
  p Here is a summary of the valid (single-date) parameter key names and their corresponding values:
  table
    thead
      tr
        th Parameter Key Name
        th Parameter Value
        th Parameter's Purpose
    tbody
      tr
        td
          <code>coverMapFileName</code>
        td .asc Map filename
        td LccmId-to-cellId mapping for Cover Types.
      tr
        td
          <code>coverLastMapFileName</code>
        td .asc Map filename
        td The previous 
          <code>coverMapFileName</code>  file (if it exists); used as a delta file.
      tr
        td
          <code>coverTableFileName</code>
        td .csv cover-lookup table filename
        td LccmId-to-CoverId + &lt;spatialChangeText&gt;
      tr
        td
          <code>soilMapFileName</code>
        td .asc Map filename
        td LccmId-to-cellId mapping for Soil Types.
      tr
        td
          <code>soilLastMapFileName</code>
        td .asc Map filename
        td The previous 
          <code>soilMapFileName</code>  file (if it exists); used as a delta file.
      tr
        td
          <code>soilTableFileName</code>
        td .csv soi-lookup table filename
        td LccmId-to-CoverId + &lt;spatialChangeText&gt;
      tr
        td
          <code>ageLastMapFileName</code>
        td .asc Map filename
        td The previous 
          <code>ageMapFileName</code>  file (if it exists); used as a delta file.
      tr
        td
          <code>ageMapFileName</code>
        td .asc Map filename
        td LccmId-to-cellId mapping for age values.
      tr
        td
          <code>ageTableFileName</code>
        td .csv age-lookup table filename
        td LccmId-to-CoverId + &lt;ageModification&gt;
      tr
        td
          <code>resultsFileName</code>
        td Modify Landcover driver data .csv filename
        td The file L2V uses for output.
      tr
        td
          <code>yearPrefix</code>
        td An integer year value
        td Optional; when present, prefixed to each row of output.
      tr
        td
          <code>jdayPrefix</code>
        td An integer Julian day (of the year) value
        td Optional; when present, prefixed to each row of output.
      tr
        td
          <code>appendResults</code>
        td “true” or “false”
        td Optional; when present and set “true”, L2V appends to resultsFileName instead of overwriting.
  p Each parameter's value is the name of a file. Each file name must be fully-qualified (i.e. include the full path for its location).
  p The 
    <code>resultsFileName</code>  parameter specifies the file that L2V uses for output, and which can then be provided as the value of the 
    <code>modificationDataFilename</code> parameter for a Modify Landcover Disturbance.
  h4#map-and-table-pairing-rules Map and Table Pairing Rules
  p The six *Map and *Table parameters are paired: each pair provide a map and lookup table for cover, soil, or age modifications. These six parameters 
    em must  be specified as pairs: it is an error, for example, to specify 
    <code>soilMapFileName</code>  without specifying 
    <code>soilTableFileName</code> , or vice-versa.
  p However, all 3 pairs of map + lookup files are not required. Users must specify 
    em at least  a cover 
    em or  soil map + lookup pair of files, but the L2V Translator does not require both. Also, the age map + lookup pair of files is always optional.
  p The three *LastMap parameters are always optional. When specified, they provide the name of the previous (i.e. “Last”) cover, soil, or age map used to generate modification data. The L2V translator uses the paired Map and LastMap to reduce the amount of modification data it generates. When a cell has the same value in both a Map and its corresponding LastMap for a given type of modification, L2V does not write modification data for that cell (for that modification type).
  p Note that the same cell's other modification types' Maps that either don't have a corresponding LastMap or (don't show the same value for the cell when they do) will still cause L2V to generate and output a modification data row for that cell. The only way a cell will not generate a modification data row at all is when three *Map files have corresponding *LastMap files 
    em and  all three of the cell's modification types have the same Map and LastMap value.
  p
    strong An Example: This chart shows LCCM values at a specific cell for the LV2 driver data maps (or “n/p” if the map is not provided) and whether L2V generates a modification row or not. (The chart indicates a modification type as ignored by showing “n/p” for 
    em both  the LastMap and the Map: the corresponding Table file is assumed to be “n/p” in this case as well.)
  table
    thead
      tr
        th soilLastMap
        th soilMap
        th coverLastMap
        th coverMap
        th ageLastMap
        th ageMap
        th Result?
    tbody
      tr
        td 200
        td 200
        td 5
        td 5
        td 10
        td 10
        td NO modification row output
      tr
        td 200
        td 200
        td 5
        td 5
        td n/p
        td 10
        td Modification row IS output
      tr
        td 200
        td 200
        td 5
        td 9
        td 10
        td 10
        td Modification row IS output
      tr
        td n/p
        td n/p
        td 5
        td 5
        td 5
        td 5
        td NO Modification row IS output
      tr
        td n/p
        td n/p
        td 5
        td 9
        td 5
        td 5
        td Modification row IS output
  p The map files are generated by LCCM, contain LCCM ID values and are assumed to be the values “to change to”. (I.e. the LCCM ID values that LCCM changed to when the map was generated by LCCM.) Each LCCM ID in a map file indicates the LCCM ID of a cover, soil, or age change at that location.
  p The lookup tables must be created manually, by the LV2 user, based on an understanding of how to translate the LCCM IDs provided in the map files into corresponding VELMA cover, soil, or age IDs, along with any spatial data changes or age modifications that should be made for a given VELMA ID.
  h4#map-file-format Map File Format
  p Any map files specified must be in ASCII grid format. All the header values (ncols, nrows, cellsize, etc.) must match the header values of the DEM (parameter 
    <code>input_dem</code> ) map file specified for in VELMA simulation configuration that the L2V Translator is generating a Modify Landcover disturbance driver data file for.
  p Map files are assumed to contain LCCM ID (integer) values; the user must determine the correspondence between those LCCM ID values VELMA cover and soil ID values. Those correspondences are made explicit in the lookup table files.
  h4 Lookup Table File Format
  p Regardless of whether it is for cover, soil, or age data, an L2V lookup table .csv file consists of rows of comma-separated data fields. Each row maps an LCCM ID to an VELMA ID, followed by the spatial changes (cover and soil) or age modification (age) associated with transition to the specified VELMA ID.
  p Specific formats are:
  table
    thead
      tr
        th File for …
        th Row format:
    tbody
      tr
        td
          <code>coverTableFileName</code>
        td
          <code>LCCM_coverID,VELMA_coverID,&lt;spatialChangeText&gt;</code>
      tr
        td
          <code>soilTableFileName</code>
        td
          <code>LCCM_soilID,VELMA_soilID,&lt;spatialChangeText&gt;</code>
      tr
        td
          <code>ageTableFileName</code>
        td
          <code>LCCM_agedID,VELMA_coverID,&lt;ageModification&gt;</code>
  p Notice that age lookup tables expect to use VELMA_coverID values. In VELMA age is associated with cover types, and does not have separate, independent age IDs. The L2V translator permits different age-specific LCCM_ageID values, but in practice we expect age LCCM_ageID == LCCM_coverID.
  p The 
    <code>&lt;spatialChangeText&gt;</code>  format is the same as Modify Landcover disturbance driver data files use. (It is in fact, directly copied and output by the L2V translator.) The 
    <code>&lt;ageModification&gt;</code>  format is a Modify Landcover 
    <code>ModificationOp</code> . Details for both of these are available in the 
    a(href="./ModifyLandcoverDisturbanceModel_Overview.md/#Parameters-That-Determine-Which-Cells-are-Modiifed-and-How-They-Are-Modified")
    em Parameters That Determine Which Cells are Modiifed and How They Are Modified  section of the Modify Landcover Disturbance overview document.
  p Any and all of the LCCM ID values specified in a map file must be present in the corresponding lookup table file. More than one LCCM ID value may correspond to one VELMA ID value, but each and every LCCM ID from a map file must appear in exactly one row of the corresponding lookup table file.
  h4 Example rows for Lookup Tables
  p
    strong A row for a 
    <code>coverTableFileName</code>  lookup table file
  pre.hljs
    code. 
      25,7,BIOMASS_LEAF_N,0,BIOMASS_AG_STEM,*0.5,HUMUS:4,*0.1
      -- - --------------------------------------------------
      | | |
      | | &lt;spatialChangeText&gt;
      | VELMA coverID
      LCCM coverID 
      
  p Description: When a cell location in the 
    <code>coverMapFileName</code>  has the LCCM ID value 25, create (or include in) a Modify Landcover driver data record changing the VELMA cover ID to 7 at that cell location, and include the spatial data changes specified by the 
    <code>&lt;spatialChangeText&gt;</code>  in the driver data record.
  p
    strong A row for a 
    <code>soilTableFileName</code>  lookup table file
  pre.hljs
    code. 
      110,5,GROUNDWATER_FRACTION,0.15
      --- - -------------------------
      |  | |
      |  | &lt;spatialChangeText&gt;
      |  VELMA coverID
      LCCM coverID 
      
  p Description: When a cell location in the 
    <code>soilMapFileName</code>  has the LCCM ID value 110, create (or include in) a Modify Landcover driver data record changing the VELMA soil ID to 5 at that cell location, and include the spatial data changes specified by the 
    <code>&lt;spatialChangeText&gt;</code>  in the driver data record.
  p
    strong A row for an 
    <code>ageTableFileName</code>  lookup table file
  pre.hljs
    code. 
      25,7,*0.5
      -- - ----
      | | |
      | | &lt;ageModification&gt;
      | VELMA coverID (VELMA age is ID'ed by coverID)
      LCCM coverID (In this example, assumes LCCM ageID == LCCM coverID)
      
  p Description: When a cell location in the 
    <code>ageMapFileName</code>  has the LCCM ID value 25, create (or include in) a Modify Landcover driver data record changing the VELMA age value (ID'd by coverID == 5) at that cell location per the specified 
    <code>&lt;ageModification&gt;</code> .
  p Suppose cell location 1753 in the LCCM-provided maps have these LCCM ID values:
  table
    thead
      tr
        th Map File
        th LCCM ID at icell 1735
    tbody
      tr
        td
          <code>coverTableFileName</code>
        td 25
      tr
        td
          <code>soilTableFileName</code>
        td 110
      tr
        td
          <code>ageTableFileName</code>
        td 25
  p Based on the lookup table data examples above, the L2V Translator would output this Modify Landcover driver data row for cell location 1735:
  pre.hljs
    code. 
      1735,5,7,*0.5,GROUNDWATER_FRACTION,0.15,BIOMASS_LEAF_N,0,BIOMASS_AG_STEM,*0.5,HUMUS:4,*0.1
      ---- - - ---- ------------------------- -------------------------------------------------- 
        | | | |    |                         |
        | | | |    |                         cover lookup &lt;spatialChangeText&gt;
        | | | |    soil lookup &lt;spatialChangeText&gt;
        | | | age lookup &lt;ageModification&gt;
        | | VELMA coverID (from the cover lookup)
        | VELMA soilID (from the soil lookup)
        Map location
      
  h3 L2V Multi-Date Configuration Parmeters
  p This Windows PowerShell example shows L2V multi-date 
    <code>--list</code>  
    <code>--multidate</code>  output:
  pre.hljs
    code. 
      PS C:\Users\Me> java -Xmx1g -cp C:\Users\Me\VELMA\JVelma.jar gov.epa.velmasimulator.LccmTranslatorCmdLine --list --multidate
      Valid LccmTranslator multidate configInfo Parameter Key Names
      (Replace placeholder "???" text with valid values.)
      coverMapLocation,???
      coverTableLocation,???
      soilMapLocation,???
      soilTableLocation,???
      ageMapLocation,???
      ageTableLocation,???
      resultsFileName,???
      appendResults,???
      PS C:\Users\Me>
      
  p Here is a summary of the valid (single-date) parameter key names and their corresponding values:
  table
    thead
      tr
        th Parameter Key Name
        th Parameter Value
        th Parameter's Purpose
    tbody
      tr
        td
          <code>coverMapLocation</code>
        td fully qualified directory path
        td Specifies the location of LccmId-to-cellId cover-mapping .asc map files.
      tr
        td
          <code>coverTableLocation</code>
        td fully qualified directory path
        td Specifies the location of cover-lookup table .csv files.
      tr
        td
          <code>soilMapLocation</code>
        td fully qualified directory path
        td Specifies the location of LccmId-to-cellId soil-mapping .asc map files.
      tr
        td
          <code>soilTableLocation</code>
        td fully qualified directory path
        td Specifies the location of soil-lookup table .csv files.
      tr
        td
          <code>ageMapLocation</code>
        td fully qualified directory path
        td Specifies the location of LccmId-to-cellId age-mapping .asc map files.
      tr
        td
          <code>ageTableLocation</code>
        td fully qualified directory path
        td Specifies the location of age-lookup table .csv files.
      tr
        td
          <code>resultsFileName</code>
        td Modify Landcover driver data .csv filename
        td The file L2V uses for output.
      tr
        td
          <code>appendResults</code>
        td “true” or “false”
        td Optional; when missing, defaults to “true”, when “true”, L2V appends to resultsFileName instead of overwriting.
  p The parameters for a multi-date configInfo.csv are similar to a single-date configInfo.csv, but specify the 
    <em> locations </em>of LCCM data files instead of the files themselves. Within those specified locations, the 
    a(href="#map-and-table-pairing-rules") pairing rules  and 
    a(href="#map-file-format") map  and 
    a(href="#lookup-table-file-format") table requirements specified for single-date mode are all applicable.
  p Unless you have a specific reason to include it, <strong> do NOT include </strong>
    <code>appendResults</code>  in your multi-date configInfo.csv file. The 
    <code>appendResults</code>  parameter always defaults to “true” if it is omitted from a multi-date configInfo.csv file. Setting 
    <code>appendResults=false</code>  is possible, but 
    em not  recommended.
  h4#lookup-table-file-format Multi-Date Map and Table File Naming Formats
  p When running in multi-date mode, the L2V Translator requires specific filename formats for the LCCM map .asc and table .csv files within the directory locations specified in its configInfo.csv file. The filename formats allow it to select the specific types of files it uses, and gather date information from them.
  pre.hljs
    code. 
      This the file naming convention for the input map and table data files:
        &lt;LCCM_ID&gt;&lt;sep&gt;&lt;yyyy&gt;&lt;sep&gt;&lt;jjj&gt;&lt;sep&gt;&lt;type_name&gt;&lt;sep&gt;&lt;optional_text&gt;&lt;dot_ext&gt;
      Where:
        &lt;LCCM_ID&gt; = "LCCM" = A hardwired prefix; any filename used by the L2V translator must begin with this text.
                    &lt;yyyy&gt; = A four-digit year; must have leading zero(s) if less than 4 characters long.
                    &lt;jjj&gt; = A three-digit day-of-year ("Julian day"); must have leading zeros if &lt; 100.
              &lt;type_name&gt; = One of: ["coverMap", "coverTable", "soilMap", "soilTable", "ageMap", "ageTable"]
          &lt;optional_text&gt; = Arbitrary text that is ignored by the L2V Translator
                &lt;dot_ext&gt; = one of [".asc", ".csv], as appropriate for map or table.
      
              &lt;sep&gt; = "_" = the separator used to ensure the filename can be easily split into fields.
      
        Example:
      
              +----+---+--------+---- &lt;sep&gt;
              |    |   |        |     
              |    |   |        |     +---+-+-+---- [ignored]
              |    |   |        |     |   | | |
          LCCM_2020_010_coverMap_rings_7x5_1_2_3.asc
          |    |    |   |        |              |
          |    |    |   |        |              &lt;doc_ext&gt;
          |    |    |   |        &lt;optional_text&gt;   
          |    |    |   &lt;type_name&gt;
          |    |    &lt;jjj&gt;    
          |    &lt;yyyy&gt;    
          &lt;LCCM_ID&gt;  
      
  p Any files within the diretory locations specified by a multi-date configInfo.csv file that do not match this filename format are ignored by the L2V Translator.
  h3 L2V Translator Log Messages
  p When you run the L2V Translator from the command line, it provides information about the translator run to the console, and (if possible) copies the same output to a file. Logger message lines always start with the prefix 
    <code>L2V</code> , to make them easier to identify within the console.
  p Logger messages are copied to a log file named 
    <code>LccmTranslatorRunlog.txt</code> .
  ul
    li The L2V Translator tries to place the log file into the same directory as the output file specified by the 
      <code>resultsFileName</code>  parameter.
    li If the 
      <code>resultsFileName</code>  parameter isn't specified, the log file is placed in your home directory (e.g. on Windows 11, under 
      <code>C:\Users\&lt;your_user_name&gt;</code> ).
    li If the L2V Translator cannot write messages to a log file at all, it will warn you by logging a message (only to the console) that looks like this:
      <code>L2V Log WARNING [...] Cannot log to file: logging messages only to console.</code> If you see the warning above on your console, you'll still get logging messages on the console, but they won't be recorded in a file.
  blockquote
    p
      strong
      em Implementation Note:  the L2V Translator uses 
      em only  Java's 
      <code>java.utils.Logger</code>  class. It does 
      em NOT  use Apache's 
      <code>Log4j</code>  logger framework. The 
      <code>Log4j</code>  package is 
      em not  included in VELMA code.
  h2 Appendix A: Common Questions
  h4 Can I specify one LCCM ID file for multiple L2V configInfo map parameters?
  p Answer: Yes, but you must provide the corresponding lookup table file for each use of the (single) map file.
  p A common, expected case is using the LCCM ID cover map file as the value for both the 
    <code>coverMapFileName</code>  and the 
    <code>ageMapFileName</code>  in an L2V Translator's configInfo parameterization. In this situation, you must still provide and specify two, separate lookup table files, one for 
    <code>coverTableFileName</code> , and another for 
    <code>ageTableFileName</code> . However, the contents of each of the two lookup table files would have rows corresponding to the same LCCM ID values from the one LCCM ID map file.
  p
    strong Example: Here's a tiny LCCM ID cover map file, named “LCCM_Tiny_Cover.asc”:
  pre.hljs
    code. 
      ncols 7
      nrows 5
      xllcorner 707561.39803805
      yllcorner 4327118.0852998
      cellsize 30.0
      nodata_value -9999
      1 1 3 2 2 5 4
      1 1 3 3 3 5 4
      1 3 3 5 5 5 4
      5 5 5 5 4 4 4
      5 5 4 4 4 4 4 
      
  p Here is an L2V Translator lookup table file coded for the values in LCCM_Tiny_Cover. File “Tiny_Cover_Lookup.csv”:
  pre.hljs
    code. 
      1,20,BIOMASS_LEAF_N,0,BIOMASS_AG_STEM,*0.5,HUMUS:4,*0.1
      2,25,BIOMASS_LEAF_N,+10,DETRITUS_LEAF_N,*0.1,HUMUS:1,*0.2,HUMUS:2,*0.2
      3,30,BIOMASS_LEAF_N,+10,DETRITUS_LEAF_N,*0.1,HUMUS:1,*0.2,HUMUS:2,*0.2
      4,20,
      5,40,DETRITUS_LEAF_N,*0.25
      
  p Noteworthy in the example cover lookup table file contents above:
  ul
    li Every LCCM ID must be specified exactly once.
    li Multiple LCCM ID value can correspond to a single VELMA ID (LCCM IDs 1 and 4 map to VELMA ID 20).
    li The lookup table 
      <code>&lt;spatialChangeText&gt;</code>  can be omitted, or duplicated in multiple rows; whatever is appropriate for the VELMA ID.
  p Here is an L2V Translator lookup table file coded for the same “LCCM_Tiny_Cover.asc” file's values. File “Tiny_Age_Lookup.csv”:
  pre.hljs
    code. 
      1,20,0
      2,25,*1.1
      3,30,*1.1
      4,20,+0
      5,40,*0.1
      
  p Notes about the age lookup tabe data above:
  ul
    li The LCCM_ID,VELMA_ID pairings duplicate the cover lookup table; but here, they specify 
      <code>&lt;ageModification&gt;</code>  values.
    li The 
      <code>1,20</code>  row's 
      <code>&lt;ageModification&gt;</code>  is 
      <code>0</code>  -- there is no operator prefix, so this means: set the age to zero.
    li The 
      <code>4,20</code>  row's 
      <code>&lt;ageModification&gt;</code>  is 
      <code>+0</code> , this is the preferred idiom for: “don't modify the current age value”.
  p And finally, given the example files above, the relevant lines in the L2V Translator's configInfo.csv file could look like this:
  pre.hljs
    code. 
      coverMapFileName,C:\Users\Me\L2V_Files\LCCM_Tiny_Cover.asc
      coverTableFileName,C:\Users\Me\L2V_Files\Tiny_Cover_lookup.csv
      ageMapFileName,C:\Users\Me\L2V_Files\LCCM_Tiny_Cover.asc
      ageTableFileName,C:\Users\Me\L2V_Files\Tiny_Age_lookup.csv
      
  h4 Can I specify the same VELMA ID as the target of multiple LCCM ID values?
  p Answer: Yes, multiple rows of an L2V lookup table can specify the same VELMA ID. But, each row in the lookup table must specify a different LCCM ID, and each LCCM ID from the lookup table's corresponding map file must appear in the lookup table.
  h4 Can I specify only the age map and lookup pair of files?
  p Answer: No. You must specify 
    em at least  one other pair of files: either for soil or for cover. Typically, age and cover file pairs are specified more often than age and soil file pairs, but that's not a hard-and-fast rule.
  h4 Can the L2V Translator create more than one modification data driver file at a time?
  p Answer: No. If Multiple LCCM changes are available for a simulation run, you must run the L2V Translator once for each set of LCCM changes (.asc map files), and configure a separate Modify Landcover disturbance for in your VELMA simulation for each modification driver data .csv file generated by the multiple L2V Translator runs. If you find yourself in this situation, consider running the L2V Translator in multi-date mode. You will still generate a single modification data driver file, but it will be for a 
    <code>ModifyLandcoverMultiDateDisturbanceModel</code> , and contain the modification data for all of the LCCM changes for that simulation run.
  h4 Can I use the 
    <code>--kv</code>  command line argument to “override” a parameter that isn't in my configInfo.csv file?
  p Answer: Yes! In fact, there is at least one common use-case:
  ol
    li Create a configInfo.csv without the 
      <code>resultsFileName</code> ,
    li Set/add the results filename on the command line via a 
      <code>--kv</code>  argument.
  p The advantage of the above is that you don't have to edit the configInfo.csv file if you want to change the results filename (or want to generate two different files with the same data). The disadvantage is that the configInfo.csv does not “document” what the results file's name was.
  p You can also “set” key,value pairs with 
    <code>--kv</code>  arguments that are not valid L2V Translator parameters. These are ignored by the L2V Translator, but it's a bad practice to specify invalid parameter names.