<p>V. Creating a Simulator Configuration (New VELMA Application)</p>
<div class="toc"><a  href="part24.htm">Required Input Files</a><a 
        href="part25.htm">Configuration Steps</a><a  href="part26.htm">Start the JVelma GUI</a><a
         href="part27.htm">Using the GUI</a><a  href="part28.htm">Using the GUI to Specify
        Startup and Input Parameters</a><a  href="part29.htm">Overview of the All Parameters Table of
        Contents (TOC)</a><a  href="part30.htm">All Parameters Table of Contents</a></div>

<div>
    <p>Required Input Files</p>
    <p>The following simulation data input files must be available prior to creating a new VELMA application:</p>
    <p>1. JPDEM flat-processed Grid ASCII (.asc) DEM map file. </span>(see JPDEM user guide in Appendix 7)</span></p>
    <p>2. Cover Species ID Grid ASCII map (.asc) file.</p>
    <p>3. Cover Species Age Grid ASCII map (.asc) file.</p>
    <p>4. Soil Parameters ID Grid ASCII map (.asc) file.</p>
    <p>5. Daily Rainfall driver data file (.txt or .csv) file.</p>
    <p>6. Daily Air Temperature data file (.txt or .csv) file.</p><a href="part23.htm">&lt; Previous</a><span> |
    </span><a href="../velma_current_user_manual.html">Contents</a><span> | </span><a href="part25.htm">Next &gt;</a>
    </p>
</div>

<div>
    <p>Configuration Steps</p>
    <p>With the above files available, perform the following steps:</p>
    <p>1. Start the JVelma graphical user interface (GUI)</p>
    <p>2. Create a New Simulator Configuration</p>
    <p>3. Specify Startup Parameters</p>
    <p>4. Specify Input Parameters</p>
    <p>5. Specify Weather Parameters</p>
    <p>6. Add and Specify Parameters for Each Cover Species</p>
    <p>7. Add and Specify Parameters for Each Soil Parameterization</p>
    <p>Additional details for these steps appear in the following pages.</p>
</div>