<div>
    <p>Overview of the All Parameters Table of Contents (TOC)</p>
    <p><span><img width="680" height="1" alt="image" src="Image_027.png" /></span></p>
    <p>The “All Parameters Table of Contents” (TOC) provides users with a logical sequence of steps for creating a new
        simulator configuration, or for quickly locating and calibrating parameters for existing configurations.</p>
    <p>To access the All Parameter TOC, click the GUI's “All Parameters” tab, then click the drop-down button (
        <span><img width="19" height="24" alt="image" src="Image_028.gif" /></span>) located on the right side of the
        4-window filter field (don't confuse this button with the one located next to the leftmost filter field):</p>
    <p><span><img width="627" height="393" alt="image" src="Image_029.jpg" /></span></p>
    <p>That drop-down menu that appears is designed to organize subsets of model parameters in a “Table of Contents”
        format. The screenshot above shows the first page of the All Parameters TOC. Additional pages can be viewed by
        holding your mouse cursor over the TOC and scrolling down.</p>
    <p>In all, the TOC includes 26 main sections (0.0 - 25.0), each of which addresses a particular simulation
        configuration procedure.</p>
    <p>The All Parameters TOC is designed to:</p>
    <p> Provide a structured step-by-step guide for building a new simulator configuration.</span></p>
    <p> Help users quickly make specific adjustments to an existing simulator configuration, for example, to change the
        directory path and/or folder name for input and output files, or to calibrate a particular subset of parameters
        for a hydrological or biogeochemical process.</span></p>
    <p><br /></p>
</div>

<div>
    <p>All Parameters Table of Contents</p>
    <p><span><img width="676" height="1" alt="image" src="Image_030.png" /></span></p>
    <p>Click an underlined hyperlink to jump to configuration instructions</p>
    <p><a href="part31.htm#bookmark74" class="a" name="bookmark21">0.0 </a><a href="part31.htm#bookmark74">All
            Configuration Parameters</a></p>
    <p><a href="part31.htm#bookmark76" class="a" name="bookmark22">1.0 </a><a href="part31.htm#bookmark76">Input Data
            Location</a></p>
    <p><a href="part31.htm#bookmark78" class="a" name="bookmark24">2.0 </a><a href="part31.htm#bookmark78">Results Data
            Location</a></p>
    <p>2.1 Results Data Directory Name</p>
    <p>2.2 Results Directory Logfile Names</p>
    <p><a href="part32.htm#bookmark80" class="a" name="bookmark26">3.0 </a><a href="part32.htm#bookmark80">Spatial
            Dimensions and DEM File</a></p>
    <p>3.1 DEM Row and Column Counts</p>
    <p>3.2 DEM Cell Size (Assumes a square cell, i.e. Width and Height equal)</p>
    <p>3.3 Watershed Outlet (X and Y coordinates are Column and Row indices)</p>
    <p><a href="part32.htm#bookmark83" class="a" name="bookmark28">4.0 </a><a href="part32.htm#bookmark83">Soil
            Types</a></p>
    <p>4.1 Soil ID Map File</p>
    <p>4.2 Soil IDs and Names</p>
    <p>4.3 Soil Depth Values</p>
    <p>4.3.1 Soil Depth Direct Specification</p>
    <p>4.3.2 Soil Depth Indirect Specification</p>
    <p>4.4 Soil Ks Values</p>
    <p>4.4.1 Soil Ks Values Direct Specification</p>
    <p>4.4.2 Soil Ks Values Indirect Specification</p>
    <p>4.5 Soil Other Hydrologic Parameters</p>
    <p><a href="part32.htm#bookmark83" class="a" name="bookmark30">4.0 </a><a href="part32.htm#bookmark83">Soil
            Types</a></p>
    <p>4.1 Soil ID Map File</p>
    <p><a href="#bookmark87" name="bookmark31">Important Information for Sections 5.0 - 25.0 of the All Parameters
            TOC</a></p>
    <p><a href="part33.htm#bookmark89" class="a" name="bookmark32">5.0 </a><a href="part33.htm#bookmark89">Cover
            Types</a></p>
    <p>5.1 Cover ID Map File</p>
    <p>5.2 Cover Age Map File</p>
    <p>5.3 Cover IDs and Names</p>
    <p>5.4 Cover Carbon-To-Nitrogen Ratios</p>
    <p>5.5 Cover Uniform-Cell Initialization Amounts</p>
    <p>5.6 Cover Gale-Grigal Root Parameters</p>
    <p>5.7 Cover Leaf Stem and Root Pool Parameters</p>
    <p>5.7.1 Cover Leaf Pool Parameters</p>
    <p>5.7.2 Cover Above-Ground Stem Pool Parameters</p>
    <p>5.7.3 Cover Below-Ground Stem Pool Parameters</p>
    <p>5.7.4 Cover Root Pool Parameters</p>
    <p><a href="part33.htm#bookmark91" class="a" name="bookmark34">6.0 </a><a href="part33.htm#bookmark91">Weather
            Model</a></p>
    <p>6.1 Weather Rain Driver File</p>
    <p>6.2 Weather Air Temperature Driver File</p>
    <p>6.3.1 Weather Model Coefficients Files (Only Spatial Weather)</p>
    <p>6.4 Latitude/Longitude</p>
    <p>6.5 Solar Radiation</p>
    <p>6.6 Soil Layer Temperature</p>
    <p><a href="part33.htm#bookmark99" class="a" name="bookmark36">7.0 </a><a href="part33.htm#bookmark99">Initialize
            Uniform Water Amount per Cell</a></p>
    <p><a href="part33.htm#bookmark101" class="a" name="bookmark38">8.0 </a><span>Chemistry Pools</span>
        <span>(Dissolved C and N)</span></p>
    <p>8.1 Chemistry Amounts for uniform cell-initialization</p>
    <p>8.2 Chemistry Water Loss Fractions</p>
    <p><a href="part33.htm#bookmark103" class="a" name="bookmark40">9.0 </a><a href="part33.htm#bookmark103">Nitrogen
            Deposition</a></p>
    <p>9.1 Nitrogen Deposition Model Selection (useExperimental=true HIGHLY RECOMMENDED)</p>
    <p>9.1.1 Nitrogen Deposition Parameters</p>
    <p>9.1.2 Old (DEPRECATED) Nitrogen Deposition Parameters</p>
    <p><a href="part33.htm#bookmark105" class="a" name="bookmark42">10.0 </a><a
            href="part33.htm#bookmark105">Transpiration</a></p>
    <p>10.1 Core PET and ET Parameters</p>
    <p>10.2 ET Recovery On/Off ?</p>
    <p>10.2.1 ET Recovery Parameters</p>
    <p>10.3 Transpiration Limiter On/Off ?</p>
    <p>10.3.1 Transpiration Parameters</p>
    <p><a href="part33.htm#bookmark107" class="a" name="bookmark44">11.0 </a><a href="part33.htm#bookmark107">Plant
            Uptake</a></p>
    <p>11.1 Plant Uptake NH4-specific</p>
    <p>11.2 Plant Uptake NO3-specific</p>
    <p>11.3 Plant Uptake GEM Temperature Component</p>
    <p>11.4 Plant Update NPP Distribution Fractions</p>
    <p>11.5 Plant Uptake Phenology</p>
    <p><a href="part33.htm#bookmark109" class="a" name="bookmark46">12.0 </a><a href="part33.htm#bookmark109">Plant
            Mortality</a></p>
    <p>12.1 Plant Mortality Logistic or Linear ?</p>
    <p>12.1.1 Plant Mortality Logistic Parameters</p>
    <p>12.1.1.1 Plant Mortality Leaf Logistic Parameters</p>
    <p>12.1.1.2 Plant Mortality Above-Ground Stem Logistic Parameters</p>
    <p>12.1.1.3 Plant Mortality Below-Ground Stem Logistic Parameters</p>
    <p>12.1.1.4 Plant Mortality Root Logistic Parameters</p>
    <p>12.2 Plant Mortality Phenology</p>
    <p><a href="part33.htm#bookmark111" class="a" name="bookmark48">13.0 </a><a
            href="part33.htm#bookmark111">Decomposition</a></p>
    <p>13.1 Decomposition Nitrogen-To-DON Fraction</p>
    <p>13.2 Decomposition CO2 Respiration Fraction</p>
    <p>13.3 Decomposition Microbe Efficiency</p>
    <p>13.4 Decomposition Cover-Specific Parameters</p>
    <p><a href="part33.htm#bookmark113" class="a" name="bookmark50">14.0 </a><a
            href="part33.htm#bookmark113">Nitrogen-Fixation</a></p>
    <p>14.1 Nitrogen-Fixation On/Off ?</p>
    <p><a href="part33.htm#bookmark115" class="a" name="bookmark52">15.0 </a><a
            href="part33.htm#bookmark115">Nitrification</a></p>
    <p>15.1 Nitrification On/Off ?</p>
    <p>15.1.1 Nitrification Function Type</p>
    <p>15.1.2 Nitrification Soil-Specific Parameters</p>
    <p><a href="part33.htm#bookmark117" class="a" name="bookmark54">16.0 </a><a
            href="part33.htm#bookmark117">Denitrification</a></p>
    <p>16.1 Denitrification On/Off ?</p>
    <p>16.1.1 Denitrification Core Parameters</p>
    <p>16.1.2 Denitrification Soil-Specific Parameters</p>
    <p><a href="part33.htm#bookmark118" class="a" name="bookmark56">17.0 </a><a href="part33.htm#bookmark118">Simulation
            Run Schedule</a></p>
    <p><a href="part33.htm#bookmark131" class="a" name="bookmark58">18.0 </a><a href="part33.htm#bookmark131">Years to
            Compute Nash-Sutcliffe for Runoff</a></p>
    <p><a href="part33.htm#bookmark133" class="a" name="bookmark60">19.0 </a><a href="part33.htm#bookmark133">Observed
            Data Files</a></p>
    <p><a href="part33.htm#bookmark135" class="a" name="bookmark62">20.0 </a><a
            href="part33.htm#bookmark135">Simulation-End Data Capture for Spin-up Initialization Use</a></p>
    <p><a href="part34.htm#bookmark143" class="a" name="bookmark64">21.0 </a><a
            href="part34.htm#bookmark143">Simulation-Start Initialization from Spin-up Data</a></p>
    <p><a href="part35.htm#bookmark151" class="a" name="bookmark66">22.0 </a><a href="part35.htm#bookmark151">Cell Data
            Writer Items</a></p>
    <p><a href="part35.htm#bookmark164" class="a" name="bookmark67">23.0 </a><a href="part35.htm#bookmark164">Spatial
            Data Writer Items</a></p>
    <p>23.1 Spatial Data Writer Items by Model Type</p>
    <p>23.2 Spatial Data Writer Items Data Sources</p>
    <p>23.3 Spatial Data Writer Items Core Scheduling</p>
    <p>23.4 Spatial Data Writer Items Output Map Size</p>
    <p><a href="part35.htm#bookmark166" class="a" name="bookmark69">24.0 </a><a
            href="part35.htm#bookmark166">Disturbance Items</a></p>
    <p>24.1 Disturbance Items by Model Type</p>
    <p>24.2 Disturbance Items Core Scheduling</p>
    <p>24.3 Disturbance Items Spatial Specifiers (Raster Rally)</p>
    <p><a href="part35.htm#bookmark167" class="a" name="bookmark71">25.0 </a><a href="part35.htm#bookmark167">Runtime
            Chart Display Scale</a></p>
</div>