<div>
    <p>Start the JVelma GUI</p>
    <p><span><img width="676" height="1" alt="image" src="Image_014.png" /></span></p>
    <p>To start the JVelma GUI, open a Windows command prompt, and launch the GUI via Java and the JVelma.jar file.</p>
    <p>Here is an example of the form the startup command takes:</p>
    <p>C:\&gt; java -Xmx1024m -jar C:\Some\full\Path\JVelma.jar</p>
    <p>Of course, replace C:\Some\full\Path\ with the actual, fully-qualified path name of the location where your copy
        of the JVelma.jar file resides.</p>
    <p>Here are a couple of screen captures showing actual command lines for starting JVelma:</p>
    <p><br /></p>
    <p><span><img width="531" height="96" alt="image" src="Image_015.gif" /></span></p>
    <p>(In the above screen-capture, the double-quotes around the fully-qualified path+name of the JVelma.jar file are
        required because the text of the path contains whitespace.)</p>
    <p><br /></p>
    <p><span><img width="517" height="107" alt="image" src="Image_016.gif" /></span></p>
    <p>(When there is no whitespace in the entire path the double-quotes are not required.)</p>
    <p>The “-Xmx1024m” command line option specifies the amount of memory available to the JVelma GUI and simulator. The
        value 1024 is in Megabytes, so this command line allocates a 1 Gigabyte memory space for the JVelma GUI and
        simulator to run in. You can allocate more memory than 1 GB (e.g. the option “-Xmx4096m” would allocate 4 GB)
        but if you allocate more memory than your computer can make available, JVelma will fail to start properly.</p>
    <p>Once you type in the command line and press the enter key, the JVelma GUI should begin running. Initially, the
        GUI looks like this:</p>
    <p><br /></p>
    <p><span><img width="614" height="555" alt="image" src="Image_017.jpg" /></span></p>
</div>

<div>
    <p>Using the GUI</p>
    <p><span><img width="680" height="1" alt="image" src="Image_018.png" /></span></p>
    <p>Click the <b>Edit </b>menu's <b>Create a New, Empty Configuration </b>item:</p>
    <p><br /></p>
    <p><span><img width="625" height="565" alt="image" src="Image_019.jpg" /></span></p>
    <p>Clicking this item creates a new, empty simulation configuration in the JVelma GUI and opens the <b>All
            Parameters </b>table view. The All Parameters table lists the Group, Item and Parameter keys and the current
        value of all the parameters used by a single VELMA simulation run. When we speak of the “Simulation
        Configuration”, this list of parameters is what we're speaking of.</p>
    <p>For demonstration purposes, here is an annotated screen-captured snapshot of the All Parameters table for an
        existing simulator configuration (cells under the Value column will be blank for new simulator configurations):
    </p>
    <p><br /></p>
    <p><span><img width="661" height="586" alt="image" src="Image_020.jpg" /></span></p>
    <p><br /></p>
    <p>In addition to filtering by an arbitrary text string, the filter field at the top of the table can be set to any
        of several pre-composed filtering expressions.</p>
    <p>For example, In the All Parameters table, click “Clear Filters” at the left of side of the filter fields, then
        click the drop-down button ( <span><img width="19" height="24" alt="image" src="Image_021.gif" /></span>) on the
        right side of the leftmost filter field to display a drop-down menu (see demonstration, below).</p>
    <p><br /></p>
    <p><span><img width="666" height="1" alt="image" src="Image_022.png" /></span></p>
</div>

<div>
    <p>Using the GUI to Specify Startup and Input Parameters</p>
    <p><span><img width="680" height="1" alt="image" src="Image_023.png" /></span></p>
    <p>Specify Startup Parameters</p>
    <p>In the All Parameters table, click the first (leftmost) filter field's drop-down button and select “startups”
        from the drop-down list:</p>
    <p><br /></p>
    <p><span><img width="623" height="302" alt="image" src="Image_024.jpg" /></span></p>
    <p><br /></p>
    <p>The resulting display shows 13 “startups” parameters under the 3rd</span> column. For now, we will focus on 2
        startup parameters that VELMA uses to locate simulation input files at the start of a simulation. You will need
        to specify a valid value in the 4th</span> column for these:</p>
    <p>inputDataLocationDirName The name of the directory containing your simulation input</span></p>
    <p>data files</p>
    <p>inputDataLocationRootName The fully-qualified path above the directory name you</span></p>
    <p>specified for inputDataLocationDirName</p>
    <p>Specify Input Parameters</p>
    <p>Under the All Parameters menu tab, in the 2nd filter field to the left of the “Clear Filters” button, type
        “VelmaInputs” (case sensitive, without the double-quotes):</p>
    <p><span><img width="625" height="278" alt="image" src="Image_025.jpg" /></span></p>
    <p><br /></p>
    <p>In the displayed subset of configuration parameters, enter values for the following parameters:</p>
    <p>input_dem The name (plus extension, “.asc”) of this simulation's DEM spatial data file. The simulator will look
        for the file in the directory specified by the inputDataLocationDirName + “/” + inputDataLocationRootName that
        you specified as Startups parameters.</span></p>
    <p>cell The width of a cell in the DEM grid (should match the “cellsize” header value in the DEM Grid ASCII file and
        will be a value in meters).</span></p>
    <p>ncol The number of columns in the DEM grid (should match the DEM Grid ASCII file's ncols header value).</span>
    </p>
    <p>nrow The number of rows in the DEM grid (should match the DEM Grid ASCII file's nrows header value).</span></p>
    <p>cellOffsetX Horizontal (column) offset of the DEM&#39;s zeroth pixel in meters.</span></p>
    <p>cellOffsetY Vertical (row) offset of the DEM&#39;s zeroth pixel in meters.</span></p>
    <p>outx The zero-based x-coordinate (column index) of the outlet cell for this simulation's watershed.</span></p>
    <p>outy The zero-based y-coordinate (row index) of the outlet cell for this simulation's watershed.</span></p>
    <p>coverAgeMapFileName The name (and “.asc” extension) of this simulation's cover</span></p>
    <p>species age spatial data map.</p>
    <p>coverSpeciesIndexMapFileName The name (and “.asc” extension) of this simulation's cover</span></p>
    <p>species ID spatial data map.</p>
    <p>soilParametersIndexMapFileName The name (and “.asc” extension) of this simulation's soil</span></p>
    <p>parameterizations ID spatial data map.</p>
    <p>forcing_start The first year (inclusive) of temporal data available for simulation runs.</span></p>
    <p>forcing_end The last year (inclusive) of temporal data available for simulation runs.</span></p>
    <p>syear The starting year of the simulation run.</span></p>
    <p>eyear The ending year of the simulation run.</span></p>
    <p>input_runoff The name of the observed runoff data for simulation runs. (Specifying this file is optional, but
        highly recommended.)</span></p>
    <p>input_stream_chem The name of the observed stream chemistry data for simulation</span></p>
    <p>runs. (Specifying this file is optional, but highly recommended.)</p>
    <p>run_index The name of the directory where the VELMA simulation will save simulation results files</span>.</span>
    </p>
    <p>initializeOutputDataLocationRoot The fully-qualified path above the directory name you specified</span></p>
    <p>for the run_index</span>.</p>
    <p><br /></p>
    <p>The drop-down filter field menu above the “Group” column can also be used to add and specify parameters for the
        other parameter categories listed: cover, disturbance, cellDataWriter</span>, spatialDataWriter</span>, soil,
        and weather:</p>
    <p><span><img width="627" height="164" alt="image" src="Image_026.jpg" /></span></p>
    <p>However, we recommend that you use the “All Parameters Table of Contents” described in the next section to
        configure these and other subsets of parameters.</p>
</div>