<div>
    <p>Determining Flow Data For a Flat-Processed DEM</p>
    <p>Load a flat-processed DEM .asc file into JPDEM, in the same way you would load a &quot;raw&quot; DEM file.</p>
    <p>After loading the DEM data, click the &quot;Tools&quot; menu, then select and click the &quot;Determine DEM Flow
        Data (Standard)&quot; menu item.</p>
    <p>JPDEM will then compute flow data (flow direction and accumulation values) for each cell in the DEM area.</p>
    <p>Once the flow data is computed, JPDEM will shift the display to the flow-accumulation grey- scale visualization.
    </p>
    <p>Note</p>
    <p>Loading a &quot;raw&quot; DEM file and then immediately trying to determine DEM flow data should not crash JPDEM,
        but it won&#39;t result in any meaningful information either.</p>
    <p>Note</p>
    <p>The difference in results between the &quot;(Standard)&quot; and &quot;(Alternate)&quot; flow data algorithms
        should be zero or very small.</p>
    <p>You may use either algorithm. The Alternate algorithm is somewhat faster, but often not much faster than the
        Standard algorithm.</p>
</div>
<div>
    <p>Determining Watershed Delineation</p>
    <p>Flat-processed, flow-accumulated DEM data in JDEM may be used to determine the delineation relative to a
        specified outlet cell (i.e. the set of cells that flow &quot;to&quot; a specified &quot;outlet&quot; cell).</p>
    <p>In order to compute the delineation for an outlet cell, you must first specify the coordinates of the outlet
        cell.</p>
    <p>You can do this either by entering the zero-based x (column) and y (row) coordinates of the outlet cell in the
        &quot;Outlet X=&quot; and &quot;Y =&quot; number boxes, above JPDEM&#39;s map display, or by using the mouse.
    </p>
    <p>To select an outlet cell using the mouse, do the following:</p>
    <p>Move the mouse pointer over the cell you wish to select. Press down on either the right or left mouse button.</p>
    <p>A context menu should pop-up, containing information about the cell you are pointing at. Holding the mouse button
        down, drag the mouse pointer onto the menu item containing cell info (the info should highlight), then release
        the mouse button.</p>
    <p>The menu goes away, and the x and y coordinates for the cell you selected appear in the &quot;Outlet X = &quot;
        and &quot;Y = &quot; number boxes above the map display.</p>
    <p>Note:</p>
    <p>&quot;Zoom in&quot; on the map display by clicking the up-arrow button of the &quot;Image Scale&quot; to make
        selecting a specific cell easier. For example, at &quot;Image Scale 3&quot;, for example, every cell is
        displayed by 3x3 pixels.</p>
    <p>However, on very large maps zooming too far in can crash the display, because it may run out of memory.</p>
    <p>Once the coordinates of an outlet cell are specified, click the &quot;Tools&quot; menu, then select and click the
        &quot;Delineate DEM Data (Experimental)&quot; menu item.</p>
    <p>JPDEM will then compute the delineation (i.e. the area of cells) for the currently specified &quot;Outlet X
        =&quot; and &quot;Y =&quot; values.</p>
    <p>The resulting area is displayed in a logarithmic-coloring blue-red scale, superimposed over the grey-scale of the
        flow-accumulation display.</p>
    <p>If the delineation looks incorrect, change the outlet cell coordinates and re-run the delineation. When the
        delineation looks correct, record the &quot;Outlet X =&quot; and &quot;Y =&quot; values for future reference and
        use with JVELMA. (JPDEM does not &quot;record&quot; outlet values anywhere.)</p>
    <p>Note</p>
    <p>There are currently four different JPDEM delineation algorithm implementations to choose from.</p>
    <p>We believe they all produce the same results (except possibly for cells on the edge of the DEM</p>
    <p>area -- which is an acceptable difference). However, they vary greatly in how long they take to run. Use the
        &quot;(Experimental)&quot; algorithm for delineation: it runs significantly faster than any of the other
        delineation implementations. In particular, <i><b>do not </b></i>use the &quot;(PDEM-2)&quot; algorithm, which
        can take a very long time to run, even for small maps.</p>
</div>