.search-bar {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 12px;
    /* flex-direction: column; */
}

.search-bar input {
    width: 50%;
    min-width: 300px;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 16px;
    border: 0px;
    outline: none;
}

#search-results {
    position: absolute;
    top: 100%;
    left: 30%;
    width: 100%;
    z-index: 1000;
    background: lightgray;
    text-align: center;
    width: 40%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}

.search-item {
    display: block;
    padding: 1rem;
    border-bottom: 1px solid #eee;
}